@model iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.ActivityInformation

<!--Organized projects-->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Sự kiện đã tham gia tổ chức</h4>
        </div>
    </div>
    <!-- List Organized projects -->
    <div class="divider-holizon"></div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model.OrganizedProjects)
                {
                    <li>
                        @*<a href="@Url.Action("ProjectHome","Project",new { projectID = item.ID })">@item.DisplayName</a>*@

                        <!-- Project-->
                        <div class="row">

                            <!-- Avata -->
                            <div class="col-sm-3">
                                <img src="images/5.jpg" style="width: 100%; height: calc(width)">
                            </div>

                            <!-- Content -->
                            <div class="col-sm-9">
                                <div class="row">
                                    <a href="project.html" style="font-weight: bold; color: #049f88">Thu Gom Vỏ Chai Đại Học FPT</a>
                                </div>
                                <div class="row">
                                    <label style="font-weight: normal">Dự án thu gom chai lọ nhựa không dùng nữa ở Đại học FPT</label>
                                </div>
                                <div class="row">
                                    <table style="font-size: 14px;" width="60%">
                                        <tr>
                                            <td style="color: #049f88;">ĐỊA ĐIỂM</td>
                                            <td>Đại học FPT</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #049f88;">LĨNH VỰC</td>
                                            <td>Môi trường, Con người</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #049f88;">THỜI GIAN</td>
                                            <td>Tháng 7 - Tháng 12/2016</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #049f88;">LIÊN HỆ</td>
                                            <td>quyvochai@gmail.com</td>
                                        </tr>
                                    </table>
                                </div>

                                <!-- Interaction Button -->
                                <div class="row" style="margin-top: 10px">
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <i class="material-icons md-mygreen">attach_money</i> Quyên góp
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <i class="material-icons md-mygreen">group_add</i> Tham gia
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <i class="material-icons md-mygreen">mail_outline</i> Liên hệ
                                    </button>
                                    <button type="button" class="btn btn-default" aria-label="Left Align">
                                        <i class="material-icons md-mygreen">star</i> Theo dõi
                                    </button>
                                </div>

                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<!--Sponsor Projects-->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Sự kiện đã tài trợ, quyên góp</h4>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Sponsor Projects -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model.SponsoredProjects)
                {
                    <li><a href="@Url.Action("ProjectHome","Project",new { projectID = item.ID })">@item.DisplayName</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<!--Joined Projects-->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Sự kiện đã tham gia hoạt động</h4>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Joined Projects -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model.JoinedProjects)
                {
                    <li><a href="@Url.Action("ProjectHome","Project",new { projectID = item.ID })">@item.DisplayName</a></li>
                }
            </ul>
        </div>
    </div>
</div>