@model iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.GroupInformation

<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <!-- Tổng quan -->
    <div class="row">
        <div class="col-md-12" style="margin-top: -20px">
            <h4 style="color: #049f88">Tổng quan</h4>
            <div class="divider-holizon" style="margin-top: -8px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>@Html.DisplayFor(model => model.GroupDescription)</p>
        </div>
    </div>

    <!-- Thời gian -->
    <div class="row">
        <div class="col-md-12">
            <h4 style="color: #049f88">Thời gian</h4>
            <div class="divider-holizon" style="margin-top: -8px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><strong>Ngày thành lập: </strong>@Html.DisplayFor(model => model.DateCreate)</p>
        </div>
    </div>

    <!-- Liên hệ-->
    <div class="row">
        <div class="col-md-12">
            <h4 style="color: #049f88">Liên hệ</h4>
            <div class="divider-holizon" style="margin-top: -8px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-post">
                <li>
                    <i class="material-icons md-18 md-mygreen" data-toggle="tooltip" title="Email" data-placement="left">mail_outline</i>
                    <span>igofu@gmail.com</span>
                </li>
                <li>
                    <i class="material-icons md-18 md-mygreen" data-toggle="tooltip" title="Điện Thoại" data-placement="left">phone</i>
                    <span>+84 1235 775 678</span>
                </li>
            </ul>
        </div>
    </div>
   @* <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberCount)
        </dd>
    </dl>*@
</div>

@{ Html.RenderAction("CurrentProjects", "Group", new { groupID = Model.GroupID });
}

