@model iVolunteer.Models.MongoDB.EmbeddedClass.StructureClass.GroupStructure

<!--Leader-->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row">
        <div class="col-sm-12" style="margin-top: -20px">
            <h4>Thành Viên</h4>
            <div class="divider-holizon"></div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <ul class="nav sub-nav-tabs">
                <li class="active" data-type="admin"><a data-toggle="tab" href="#admin">QUẢN TRỊ</a></li>
                <li data-type="member"><a data-toggle="tab" href="#membersub">THÀNH VIÊN</a></li>
                <li data-type="manager"><a data-toggle="tab" href="#manager">QUẢN LÝ THÀNH VIÊN</a></li>
            </ul>
        </div>
    </div>

    <div class="tab-content">

        <!-- Admin -->
        <div id="admin" class="tab-pane fade in active">
            <div class="row">
                <div class="col-md-12">
                    <div class="sub-container">

                        <!-- Header -->
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>4 người quản trị</h4>
                            </div>
                            <div class="col-sm-2" style="text-align: right">
                                <button class="btn btn-image" data-toggle="tooltip" data-placement="bottom" title="Tìm kiếm" style="border-color: #049f88"><i class="material-icons">person_add</i></button>
                            </div>

                            <!-- Search bar -->
                            <div class="col-sm-4">
                                <form role="search">
                                    <div class="input-group txt-search">
                                        <input type="search" class="form-control" placeholder="Tìm kiếm" name="q" style="color: #000; border-color: #049f88;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="bottom" title="Tìm kiếm" style="border-color: #049f88"><i class="glyphicon glyphicon-search" style="color: #049f88"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-sm-12">
                                <div class="divider-holizon"></div>
                            </div>
                        </div>

                        <!-- Content -->
                        <div class="row">
                            @foreach (var item in Model.Leaders)
                            {
                            <!-- Admin -->
                            <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="member-container">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/images/5.jpg" height="70" width="70">
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="row">
                                                <label class="member-name">
                                                    <a href="@Url.Action("UserHome", "User", new { userID = item.SDInfo.ID })">@item.SDInfo.DisplayName</a>

                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px">
                                                <label class="member-sumerise">
                                                    Đại học FPT
                                                </label>
                                            </div>
                                        </div>

                                        <div class="divider-vertical-member"></div>

                                        <div class="col-xs-4">
                                            <div class="row" style="text-align: center">
                                                <label class="member-position" style="font-size: 14px">
                                                    LEADER
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px; text-align: center">
                                                <label class="member-department">

                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            }

                            <!-- Admin -->
                            <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="member-container">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/images/5.jpg" height="70" width="70">
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="row">
                                                <label class="member-name">
                                                    Nguyễn Ngọc Minh
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px">
                                                <label class="member-sumerise">
                                                    Đại học FPT
                                                </label>
                                            </div>
                                        </div>

                                        <div class="divider-vertical-member"></div>

                                        <div class="col-xs-4">
                                            <div class="row" style="text-align: center">
                                                <label class="member-position" style="font-size: 14px">
                                                    TRƯỞNG BAN
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px; text-align: center">
                                                <label class="member-department">
                                                    Hậu Cần
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Admin -->
                            <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="member-container">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/images/5.jpg" height="70" width="70">
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="row">
                                                <label class="member-name">
                                                    Trần Thị Huyền
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px">
                                                <label class="member-sumerise">
                                                    Đại học FPT
                                                </label>
                                            </div>
                                        </div>

                                        <div class="divider-vertical-member"></div>

                                        <div class="col-xs-4">
                                            <div class="row" style="text-align: center">
                                                <label class="member-position" style="font-size: 14px">
                                                    TRƯỞNG BAN
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px; text-align: center">
                                                <label class="member-department">
                                                    Nội dung
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Admin -->
                            <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="member-container">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/images/5.jpg" height="70" width="70">
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="row">
                                                <label class="member-name">
                                                    Bùi Huyền Trang
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px">
                                                <label class="member-sumerise">
                                                    Đại học FPT
                                                </label>
                                            </div>
                                        </div>

                                        <div class="divider-vertical-member"></div>

                                        <div class="col-xs-4">
                                            <div class="row" style="text-align: center">
                                                <label class="member-position" style="font-size: 14px">
                                                    TRƯỞNG BAN
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px; text-align: center">
                                                <label class="member-department">
                                                    Đối ngoại
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Member -->
        <div id="membersub" class="tab-pane fade in">
            <div class="row">
                <div class="col-md-12">
                    <div class="sub-container">

                        <!-- Header -->
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>4 thành viên</h4>
                            </div>
                            <div class="col-sm-2" style="text-align: right">
                                <button class="btn btn-image" data-toggle="tooltip" data-placement="bottom" title="Tìm kiếm" style="border-color: #049f88"><i class="material-icons">person_add</i></button>
                            </div>

                            <!-- Search bar -->
                            <div class="col-sm-4">
                                <form role="search">
                                    <div class="input-group txt-search">
                                        <input type="search" class="form-control" placeholder="Tìm kiếm" name="q" style="color: #000; border-color: #049f88;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit" data-toggle="tooltip" data-placement="bottom" title="Tìm kiếm" style="border-color: #049f88"><i class="glyphicon glyphicon-search" style="color: #049f88"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="col-sm-12">
                                <div class="divider-holizon"></div>
                            </div>
                        </div>

                        <!-- Content -->
                        <div class="row">

                            <!-- Member -->
                            <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="member-container">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/images/5.jpg" height="70" width="70">
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="row">
                                                <label class="member-name">
                                                    Nguyễn Duy Linh
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px">
                                                <label class="member-sumerise">
                                                    Đại học FPT
                                                </label>
                                            </div>
                                        </div>

                                        <div class="divider-vertical-member"></div>

                                        <div class="col-xs-4">
                                            <div class="row" style="text-align: center">
                                                <label class="member-position" style="font-size: 14px">
                                                    THÀNH VIÊN
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px; text-align: center">
                                                <label class="member-department">
                                                    Nội dung
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Member -->
                            <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="member-container">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/images/5.jpg" height="70" width="70">
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="row">
                                                <label class="member-name">
                                                    Nguyễn Trạng Nguyên
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px">
                                                <label class="member-sumerise">
                                                    Đại học FPT
                                                </label>
                                            </div>
                                        </div>

                                        <div class="divider-vertical-member"></div>

                                        <div class="col-xs-4">
                                            <div class="row" style="text-align: center">
                                                <label class="member-position" style="font-size: 14px">
                                                    THÀNH VIÊN
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px; text-align: center">
                                                <label class="member-department">
                                                    Nội dung
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Member -->
                            <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="member-container">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/images/5.jpg" height="70" width="70">
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="row">
                                                <label class="member-name">
                                                    Phạm Băng Băng
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px">
                                                <label class="member-sumerise">
                                                    Đại học FPT
                                                </label>
                                            </div>
                                        </div>

                                        <div class="divider-vertical-member"></div>

                                        <div class="col-xs-4">
                                            <div class="row" style="text-align: center">
                                                <label class="member-position" style="font-size: 14px">
                                                    THÀNH VIÊN
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px; text-align: center">
                                                <label class="member-department">
                                                    Hậu cần
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Member -->
                            <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="member-container">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="~/images/5.jpg" height="70" width="70">
                                        </div>

                                        <div class="col-xs-5">
                                            <div class="row">
                                                <label class="member-name">
                                                    Bùi Kiều Trang
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px">
                                                <label class="member-sumerise">
                                                    Hà Nội, Việt Nam
                                                </label>
                                            </div>
                                        </div>

                                        <div class="divider-vertical-member"></div>

                                        <div class="col-xs-4">
                                            <div class="row" style="text-align: center">
                                                <label class="member-position" style="font-size: 14px">
                                                    THÀNH VIÊN
                                                </label>
                                            </div>
                                            <div class="row" style="margin-top: -7px; text-align: center">
                                                <label class="member-department">
                                                    Đối ngoại
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Manager -->
        <div id="manager" class="tab-pane fade in">
            <div class="row">
                <div class="col-md-12">
                    <div class="sub-container">

                        <table class="member-manager-table">
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th>THÀNH VIÊN</th>
                                    <th>CHỨC VỤ</th>
                                    <th>BAN</th>
                                    <th>HÀNH ĐỘNG</th>
                                </tr>
                                <tr>
                                    <td><img src="~/images/2.jpg" height="30" width="30" style="border-radius:50%;"></td>
                                    <td><a href="">Trần Duy Linh</a></td>
                                    <td>Leader</td>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Sửa"><i class="material-icons md-20 md-mygreen">border_color</i></button>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Khai trừ"><i class="material-icons md-20 md-mygreen">close</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/images/2.jpg" height="30" width="30" style="border-radius:50%;"></td>
                                    <td><a href="">Nguyễn Ngọc Minh</a></td>
                                    <td>Trưởng ban</td>
                                    <td>Hậu cần</td>
                                    <td>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Sửa"><i class="material-icons md-20 md-mygreen">border_color</i></button>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Khai trừ"><i class="material-icons md-20 md-mygreen">close</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/images/2.jpg" height="30" width="30" style="border-radius:50%;"></td>
                                    <td><a href="">Trần Thị Huyền</a></td>
                                    <td>Trưởng ban</td>
                                    <td>Nội dung</td>
                                    <td>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Sửa"><i class="material-icons md-20 md-mygreen">border_color</i></button>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Khai trừ"><i class="material-icons md-20 md-mygreen">close</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/images/2.jpg" height="30" width="30" style="border-radius:50%;"></td>
                                    <td><a href="">Bui Huyền Trang</a></td>
                                    <td>Trưởng ban</td>
                                    <td>Đối ngoại</td>
                                    <td>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Sửa"><i class="material-icons md-20 md-mygreen">border_color</i></button>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Khai trừ"><i class="material-icons md-20 md-mygreen">close</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/images/2.jpg" height="30" width="30" style="border-radius:50%;"></td>
                                    <td><a href="">Nguyễn Duy Linh</a></td>
                                    <td>Thành viên</td>
                                    <td>Nội dung</td>
                                    <td>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Sửa"><i class="material-icons md-20 md-mygreen">border_color</i></button>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Khai trừ"><i class="material-icons md-20 md-mygreen">close</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/images/2.jpg" height="30" width="30" style="border-radius:50%;"></td>
                                    <td><a href="">Nguyễn Trạng Nguyên</a></td>
                                    <td>Thành viên</td>
                                    <td>Nội dung</td>
                                    <td>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Sửa"><i class="material-icons md-20 md-mygreen">border_color</i></button>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Khai trừ"><i class="material-icons md-20 md-mygreen">close</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/images/2.jpg" height="30" width="30" style="border-radius:50%;"></td>
                                    <td><a href="">Phạm Băng Băng</a></td>
                                    <td>Thành viên</td>
                                    <td>Hậu cần</td>
                                    <td>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Sửa"><i class="material-icons md-20 md-mygreen">border_color</i></button>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Khai trừ"><i class="material-icons md-20 md-mygreen">close</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><img src="~/images/2.jpg" height="30" width="30" style="border-radius:50%;"></td>
                                    <td><a href="">Bùi Kiều Trang</a></td>
                                    <td>Thành viên</td>
                                    <td>Đối ngoại</td>
                                    <td>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Sửa"><i class="material-icons md-20 md-mygreen">border_color</i></button>
                                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Khai trừ"><i class="material-icons md-20 md-mygreen">close</i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Button -->
                        <div class="row" style="margin-top: 10px">
                            <div class="col-xs-2 col-xs-offset-8 text-input" style="text-align: center">
                                <a href="" style="line-height: 34px;">HỦY BỎ</a>
                            </div>
                            <div class="col-xs-2 text-input">
                                <button type="submit" class="btn btn-register">LƯU</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- List Leaders -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model.Leaders)
                {
                    <li><a href="@Url.Action("UserHome", "User", new { userID = item.SDInfo.ID })">@item.SDInfo.DisplayName</a></li>
                    Html.RenderAction("ActionToOtherUser", "Account", new { otherID = item.SDInfo.ID });
                    if (ViewBag.IsLeader == true)
                    {
                        @Html.ActionLink(" Làm thành viên ", "SetMember", "Group", new { groupID = ViewBag.GroupID, leaderID = item.SDInfo.ID }, null);
                    }
                }
            </ul>
        </div>
    </div>
</div>
<!--Members-->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Thành viên</h4>
            @if (ViewBag.IsLeader == true)
            {
                @Ajax.ActionLink(" Yêu cầu gia nhập ", "RequestList", "Group", new { groupID = ViewBag.GroupID }, new AjaxOptions { UpdateTargetId = "group-tab", InsertionMode = InsertionMode.Replace });
            }
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Members -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model.JoinedUsers)
                {
                    <li><a href="@Url.Action("UserHome","User",new { userID = item.SDInfo.ID })">@item.SDInfo.DisplayName</a></li>
                    Html.RenderAction("ActionToOtherUser", "Account", new { otherID = item.SDInfo.ID });
                    if (ViewBag.IsLeader == true)
                    {
                        @Html.ActionLink(" Làm nhóm trưởng ","SetLeader","Group", new {groupID = ViewBag.GroupID, memberID = item.SDInfo.ID }, null);
                        @Html.ActionLink(" Trục xuất ", "SetLeader", "Group", new { groupID = ViewBag.GroupID, memberID = item.SDInfo.ID }, null);
                    }
                }
            </ul>
        </div>
    </div>
</div>