@Html.Partial("_PostCreate")

<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    @Html.Partial("_PostOwner")
    @Html.Partial("_PostContent")
    @Html.Partial("_PostInteractionPanel")
    @Html.Partial("_Comment")
    @Html.Partial("_PostWriteComment")
</div>