@model IEnumerable<iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.ProjectInformation>

<input type="hidden" id="currentPage" name="currentPage" value=@ViewBag.CurrentPage/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemberCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowerCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRecruit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActivate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemberCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsRecruit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActivate)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "GroupHome","Project", new { projectID = item.ProjectID },null) | 
            @if (item.IsActivate)
            {
                @Html.ActionLink("Khóa", "ProjectBanned", "Admin", new { ProjectID = item.ProjectID, currentPage = ViewBag.CurrentPage }, null)
            }
            else
            {
                @Html.ActionLink("Kích hoạt", "ProjectActivate", "Admin", new { groupID = item.ProjectID, currentPage = ViewBag.CurrentPage }, null)
            }
        </td>
    </tr>
}
</table>
@if (ViewBag.CurrentPage > 1)
{
    @Html.ActionLink("Trang trước", "ListProject", "Admin", new { page = ViewBag.CurrentPage - 1 }, null);
}
@if (Model.Count() == 10)
{
    @Html.ActionLink("Trang sau", "ListProject", "Admin", new { page = ViewBag.CurrentPage + 1 }, null);
}