@model iVolunteer.Models.MongoDB.CollectionClass.Mongo_Album
@using iVolunteer.Helpers
@using System.Web.Optimization
@using iVolunteer.Common

<!-- blueimp File Upload & Gallery styles -->

@*<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">

        @if (ViewBag.UserID == Model.AlbumInformation.Creator.ID)
        {
            <li>
                @Ajax.ActionLink("Danh Sách Bộ Ảnh", "GetAlbumList", "Group", new { groupID = Model.AlbumInformation.TargetID }, new AjaxOptions { UpdateTargetId = "albumList", HttpMethod = "GET" }, new { })
            </li>
            <li>
                @Ajax.ActionLink("Chỉnh Sửa Bộ Ảnh", "AlbumEditImage", "Group", new { groupID = Model.AlbumInformation.TargetID, albumID = Model._id }, new AjaxOptions { UpdateTargetId = "albumList", HttpMethod = "GET" }, new { })
            </li>
        }

    </ul>
</div>*@
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div class="card-panel" id="list-image" style="margin: 0.5rem 0 1rem 0;">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4" style="margin-bottom: 10px;">
                    @Ajax.RawActionLink("<i class='fa fa-angle-left fa-cus-18'></i><span> Quay về danh sách Album</span>", "GetAlbumList", "Group", new { groupID = Model.AlbumInformation.TargetID }, new AjaxOptions { UpdateTargetId = "albumList", HttpMethod = "GET", OnBegin = "OnBegin('#albumList')" }, new { @style = "color: #1E88E5" })
                </div>
                @if (Session["UserID"] == null)
                {

                }
                else if (ViewBag.Role == "Leader" || Model.AlbumInformation.Creator.ID == Session["UserID"].ToString())
                {
                    <div class="col-md-8" style="text-align: right">
                        @Ajax.RawActionLink("<i class='fa fa-plus fa-cus-18'></i><span> Thêm ảnh</span>", "AlbumAddImage", "Group", new { albumID = Model._id.ToString(), targetID = Model.AlbumInformation.TargetID }, new AjaxOptions { UpdateTargetId = "albumList", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#albumList')" }, new { @class = "btn-card" })
                        @Ajax.RawActionLink("<i class='fa fa-pencil fa-cus-18'></i><span> Sửa album</span>", "AlbumEditImage", "Group", new { albumID = Model._id.ToString(), targetID = Model.AlbumInformation.TargetID }, new AjaxOptions { UpdateTargetId = "albumList", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#albumList')" }, new { @class = "btn-card" })
                        @Ajax.RawActionLink("<i class='fa fa-trash-o fa-cus-18'></i><span> Xóa album</span>", "DeleteAlbum", "Group", new { albumID = Model._id.ToString(), targetID = Model.AlbumInformation.TargetID }, new AjaxOptions { UpdateTargetId = "albumList", InsertionMode = InsertionMode.Replace, Confirm = "Bạn có muốn xóa Album này?" }, new { @class = "btn-card" })
                    </div>
                }
            </div>
            <h4><strong> Bộ Ảnh : @Model.AlbumInformation.AlbumName</strong></h4>
            <h5>Mô tả : @Model.AlbumInformation.AlbumDescription</h5>
            <div class="divider-holizon"></div>
        </div>
    </div>
    <div id="links" class="links">
        @if (Model.ImageList != null && Model.ImageList.Count > 0)
        {
            foreach (var item in Model.ImageList)
            {
                <a href="@item.ImageInformation.ImageUrl" title="@item.ImageInformation.ImageName" data-description="This is a movie."><img src="@item.ImageInformation.ImageUrl" alt="@item.ImageInformation.ImageName"></a>
            }
        }
        else
        {
            <div style="margin: 20px 0; text-align: center"><p>Không có ảnh nào trong album</p></div>
        }
        <!--Your files goes here-->
    </div>
</div>
<div class="card-panel" id="list-like" style="margin: 0.5rem 0 1rem 0;">
    <div class="divider-holizon"></div>
    <!-- Interaction Panel -->
    <div class="row">
        <!-- Interaction Button -->
        <div class="col-md-10 col-sm-10" style="padding: 5px 35px 3px; display: inline-flex;">
            <div id="@("likeArea" + Model.AlbumInformation.AlbumID)" style="margin-right: 30px;">
                @{Html.RenderAction("AlbumIsLiked", "Group", new { albumID = Model.AlbumInformation.AlbumID });}
            </div>
            <div id="@("cmtCount" + Model.AlbumInformation.AlbumID)" style="margin-right: 30px;">
                <i class="fa fa-comment-o fa-cus-18" style="color: #aab8c2"></i>
                @if (Model.CommentList.Count != 0)
                {
                    <span style="color: #aab8c2">@Model.CommentList.Count</span>
                }
            </div>
            <div id="@("share" + Model.AlbumInformation.AlbumID)">
                <i class="fa-cus fa-share-square-o fa-cus-18" style="color: #aab8c2" title="Chức năng đang phát triển"></i>
                @if (Model.CommentList.Count != 0)
                {
                    <span style="color: #aab8c2"></span>
                }
            </div>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <div id="@("commentArea" + Model.AlbumInformation.AlbumID)">
        @{Html.RenderAction("AlbumShowCommentArea", "Group", new { albumID = Model.AlbumInformation.AlbumID, groupID = ViewBag.GroupID, cmtCount = Model.CommentList.Count });}
    </div>
</div>
<script>
    document.getElementById('links').onclick = function (event) {

        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };

</script>
<script>
    var $form = null;
    $(function () {

        $form = $('#fileupload').fileupload({
            dataType: 'json'
        });
    });
    $('#fileupload').addClass('fileupload-processing');

</script>

<script>
    var $form = null;
    $(function () {

        $form = $('#fileupload').fileupload({
            dataType: 'json'
        });

    });
    $('#fileupload').addClass('fileupload-processing');
    $.ajax({
         type: 'GET',
        contentType: "application/json; charset=utf-8",
        url: '/Album/GetFileList',
        success: function (data) {

            $('#fileupload').fileupload('option', 'done').call($('#fileupload'), $.Event('done'), { result: { files: data.files } })
            $('#fileupload').removeClass('fileupload-processing');
        }
    }
 );
</script>
<script>
    $(document).ready(function () {
        console.log("album show");
        $('#links').justifiedGallery({
            rowHeight: 200,
            lastRow: 'nojustify',
            randomize: true,
            margins: 10
        });
    });
</script>
