@using System.Web.Optimization
@using iVolunteer.Common;
@model List<iVolunteer.Models.MongoDB.CollectionClass.Mongo_Album>
@*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")*@
@if (Model != null)
{

    <div class="card-panel" style="margin: 0.5rem 0 1rem 0;">

        <!-- Header -->
        <div class="row" style="margin-bottom: 15px">
            <div class="col-md-12" style="margin-top: -15px">
                <h4>Danh sách Album ảnh</h4>
                <div class="divider-holizon" style="margin-top: -8px; opacity: 0.8"></div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
            <!-- Album 1 -->
                <div class="col-md-4 col-sm-6">
                    <div class="photo-album-container" onclick="showAlbumImage('@item._id.ToString()', '@ViewBag.targetID')">
                        <div class="photo-album">
                            @if (item.ImageList.Count != 0)
                            {
                                Random rd = new Random();
                                int random = rd.Next(0, item.ImageList.Count);
                                <img src="@item.ImageList.ElementAt(random).ImageInformation.ImageUrl">
                            }
                            else
                            {
                                <img src="~/Images/my-avata.jpg">
                            }
                            <!-- Avata -->

                            <div class="album-interaction" onclick="location.href'@Url.Action("DeleteAlbum", "Album", new { albumID = item._id.ToString(),targetID = ViewBag.targetID })'"></div>
                            <div class="interaction-bar">

                                <!-- Album info -->
                                <div class="metadata">
                                    <h4 class="album-title" style="font-weight: bold"><strong>@item.AlbumInformation.AlbumName</strong></h4>
                                    <span class="album-photo-count" style="font-size: 12px; font-weight: normal">@item.AlbumInformation.ImageCount ảnh</span>
                                </div>

                                <!-- Interaction Bar -->
                                <div class="actions-tool">
                                    <div class="row" style="margin-left: 0; margin-right: 0">

                                        <div class="col-xs-6">
                                            <ul class="list-album-interaction">
                                                <li>
                                                    <i class="fa fa-heart fa-cus-18 fa-cus-red"></i>
                                                    <span><strong>@item.AlbumInformation.LikeCount</strong></span>
                                                </li>
                                                <li>
                                                    <i class="fa fa-comment-o fa-cus-18"></i>
                                                    <span><strong>@item.AlbumInformation.CommentCount</strong></span>
                                                </li>
                                            </ul>
                                        </div>
                                        @if (ViewBag.Role == "Leader" || item.AlbumInformation.Creator.ID == ViewBag.UserID)
                                        {
                                            <div class="col-xs-6" style="text-align: right; padding-left: 0">
                                                @Ajax.RawActionLink("<i class='fa fa-plus fa-cus-18 fa-cus-white'></i>", "AlbumAddImage", "Project", new { albumID = item._id.ToString(), targetID = ViewBag.targetID }, new AjaxOptions { UpdateTargetId = "albumList", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#albumList')" }, new { @class = "btn-card" })
                                                @Ajax.RawActionLink("<i class='fa fa-pencil fa-cus-18 fa-cus-white'></i>", "AlbumEditImage", "Project", new { albumID = item._id.ToString(), targetID = ViewBag.targetID }, new AjaxOptions { UpdateTargetId = "albumList", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#albumList')" }, new { @class = "btn-card" })
                                                @Ajax.RawActionLink("<span class='fa fa-trash-o fa-cus-18 fa-cus-white'></span>", "DeleteAlbum", "Project", new { albumID = item._id.ToString(), targetID = ViewBag.targetID }, new AjaxOptions { UpdateTargetId = "albumList", InsertionMode = InsertionMode.Replace, Confirm = "Bạn có muốn xóa Album này?" }, new { @class = "btn-card" })
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            @Ajax.ActionLink("Show Image", "AlbumShowImage", "Group", new { albumID = item._id.ToString(), targetID = ViewBag.targetID }, new AjaxOptions { UpdateTargetId = "albumList", HttpMethod = "GET" }, new { })
                        </li>
                        @if (item.AlbumInformation.Creator.ID == ViewBag.UserID)
                        {
                            <li>
                                @Ajax.ActionLink("Add Image", "AlbumAddImage", "Group", new { albumID = item._id.ToString(), targetID = ViewBag.targetID }, new AjaxOptions { UpdateTargetId = "albumList", HttpMethod = "GET" }, new { })
                            </li>
                            <li>
                                @Ajax.ActionLink("Edit Album", "AlbumEditImage", "Group", new { albumID = item._id.ToString(), targetID = ViewBag.targetID }, new AjaxOptions { UpdateTargetId = "albumList", HttpMethod = "GET" }, new { })
                            </li>
                        }
                        @if (ViewBag.Role == "Leader" || item.AlbumInformation.Creator.ID == ViewBag.UserID)
                        {
                            <li>
                                @Ajax.ActionLink("Delete Album", "DeleteAlbum", "Group", new { albumID = item._id.ToString(), targetID = ViewBag.targetID }, new AjaxOptions { UpdateTargetId = "albumList", HttpMethod = "GET" }, new { })
                            </li>
                        }
                    </ul>
                </div>*@
        </div>
    </div>

}
