@model iVolunteer.Models.MongoDB.EmbeddedClass.StructureClass.GroupStructure

<!--Leader-->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Trưởng nhóm</h4>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Leaders -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model.Leaders)
                {
                    <li><a href="@Url.Action("UserHome", "User", new { userID = item.SDInfo.ID })">@item.SDInfo.DisplayName</a></li>
                    Html.RenderAction("ActionToOtherUser", "Account", new { otherID = item.SDInfo.ID });
                    if (ViewBag.IsLeader == true)
                    {
                        @Html.ActionLink(" Làm thành viên ", "SetMember", "Group", new { groupID = ViewBag.GroupID, leaderID = item.SDInfo.ID }, null);
                    }
                }
            </ul>
        </div>
    </div>
</div>
<!--Members-->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Thành viên</h4>
            @if (ViewBag.IsLeader == true)
            {
                @Ajax.ActionLink(" Yêu cầu gia nhập ", "RequestList", "Group", new { groupID = ViewBag.GroupID }, new AjaxOptions { UpdateTargetId = "group-tab", InsertionMode = InsertionMode.Replace });
            }
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Members -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model.JoinedUsers)
                {
                    <li><a href="@Url.Action("UserHome","User",new { userID = item.SDInfo.ID })">@item.SDInfo.DisplayName</a></li>
                    Html.RenderAction("ActionToOtherUser", "Account", new { otherID = item.SDInfo.ID });
                    if (ViewBag.IsLeader == true)
                    {
                        @Html.ActionLink(" Làm nhóm trưởng ","SetLeader","Group", new {groupID = ViewBag.GroupID, memberID = item.SDInfo.ID }, null);
                        @Html.ActionLink(" Trục xuất ", "SetLeader", "Group", new { groupID = ViewBag.GroupID, memberID = item.SDInfo.ID }, null);
                    }
                }
            </ul>
        </div>
    </div>
</div>