@model IEnumerable<iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.ProjectInformation>

<div id="organize" class="tab-pane active">
    <div class="row">
        <div class="col-md-12">
            <div class="sub-container">

                <!-- Header -->
                <div class="row">
                    <div class="col-sm-12">
                        <h4>@Model.Count() dự án</h4>
                        <div class="divider-holizon"></div>
                    </div>
                </div>

                <!-- Content -->
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="card-project" style="margin-bottom: 10px;">
                            <div class="project-ava">
                                <img src="@item.Get_AvatarLink()" />
                            </div>
                            <div class="project-infor">
                                <div class="project-name">
                                    <a href="@Url.Action("ProjectHome", "Project", new { projectID = item.ProjectID })" style="font-weight: bold; color: #049f88">@Html.DisplayFor(modelItem => item.ProjectName)</a>
                                </div>
                                <div class="project-detail-infor">
                                    <div class="project-des">
                                        <label class="overflow-paragraph" style="font-weight: normal" title="@Html.DisplayFor(modelItem => item.ProjectShortDescription)">@Html.DisplayFor(modelItem => item.ProjectShortDescription)</label>
                                    </div>
                                    <ul class="project-in">
                                        <li>
                                            <i class="material-icons md-18 md-mygreen">location_on</i>
                                            <span> @Html.DisplayFor(modelItem => item.Location)</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-tags fa-cus-16 fa-cus-green"></i>
                                            <span> @Html.DisplayFor(modelItem => item.TagsString)</span>
                                        </li>
                                        <li>
                                            <i class="material-icons md-18 md-mygreen">access_time</i>
                                            <span> @Html.DisplayFor(modelItem => item.DateStart) - @Html.DisplayFor(modelItem => item.DateEnd)</span>
                                        </li>
                                        <li>
                                            <i class="material-icons md-18 md-mygreen">email</i>
                                            <span> @Html.DisplayFor(modelItem => item.Email) - @Html.DisplayFor(modelItem => item.Phone)</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="project-count">
                                <div>
                                    <h2 class="number-of-project-member"><span style="color: #ccc">|</span> @Html.DisplayFor(modelItem => item.MemberCount)</h2>
                                    <label class="project-member">Thành viên</label>
                                </div>
                                <div>
                                    <h2 class="number-of-project-member"><span style="color: #ccc">|</span> @Html.DisplayFor(modelItem => item.FollowerCount)</h2>
                                    <label class="project-member">Theo dõi</label>
                                </div>
                            </div>
                            <div class="action-to-project">
                                <div id="@item.ProjectID">
                                    @{ Html.RenderAction("ActionToProject", "Account", new { projectID = item.ProjectID });}
                                </div>
                            </div>
                        </div>
                                        }

                </div>
            </div>
        </div>
    </div>
</div>