@using iVolunteer.Common
@model iVolunteer.Models.MongoDB.CollectionClass.Mongo_Post
@if (Model != null)
{
    <div class="pinArea"><label><i class="glyphicon glyphicon-pushpin"></i> Bài viết được ghim</label></div>
    <div class="card-panel post-card" style="margin: 0.5rem 0 1rem 0;">
        <div class="row">
            <div class="col-sm-7 col-md-7">
                <!-- Post Owner -->
                <table class="table-post-ava">
                    <tr>
                        @if (Model.PostInfomation.IsPublic == true)
                        {
                            <td rowspan="2" style="width: 50px"><img src="@("/Images/Group/Avatar/" + Model.PostInfomation.Destination.ID + ".jpg")" width="40" height="40" style="border-radius:5px"></td>
                                <td class="td"><a href="@Url.Action("GroupHome","Group", new { groupID = Model.PostInfomation.Destination.ID })" class="user-name">@Model.PostInfomation.Destination.DisplayName</a></td>
                        }
                        else
                        {
                            <td rowspan="2" style="width: 50px"><img src="@("/Images/User/Avatar/" + Model.PostInfomation.Creator.ID + ".jpg")" width="40" height="40" style="border-radius:5px"></td>
                                <td class="td"><a href="@Url.Action("UserHome","User", new { userID = Model.PostInfomation.Creator.ID })" class="user-name">@Model.PostInfomation.Creator.DisplayName</a></td>
                        }

                    </tr>
                    <tr>
                        <td class="td" style="color: gray; font-size:90%" title="@Model.PostInfomation.DateCreate.ToLocalTime()">@HelperExtensions.DaySpan(DateTime.Now, Model.PostInfomation.DateCreate.ToLocalTime())</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-5 col-md-5" style="text-align: right">
                @{Html.RenderAction("ActionToPost", "Group", new { postID = @Model.PostInfomation.PostID, groupID = ViewBag.GroupID });}
            </div>
        </div>
        <!-- Post Content -->
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card-content">
                    @if (Model.PostInfomation.ImgLink != "")
                {
                        <div class="postImageArea">
                            <a class="fancybox" href="@("/Images/Post/" + Model.PostInfomation.PostID + ".jpg")">
                                <img class="postImage" src="@("/Images/Post/" + Model.PostInfomation.PostID + ".jpg")" />
                            </a>
                        </div>
                    }
                    <p style="white-space: pre-line;">@Model.PostInfomation.Content</p>
                </div>
            </div>
        </div>
        <div class="divider-holizon"></div>
        <!-- Interaction Panel -->
        <div class="row">
            <!-- Interaction Button -->
            <div class="col-md-10 col-sm-10" style="padding: 5px 35px 3px; display: inline-flex;">
                <div id="@("likeArea" + Model.PostInfomation.PostID)" style="margin-right: 30px;">
                    @{Html.RenderAction("IsLiked", "Group", new { postID = Model.PostInfomation.PostID });}
                </div>
                <div id="@("cmtCount" + Model.PostInfomation.PostID)" style="margin-right: 30px;">
                    <i class="fa fa-comment-o fa-cus-18" style="color: #aab8c2"></i>
                    @if (Model.CommentList.Count != 0)
                    {
                        <span style="color: #aab8c2">@Model.CommentList.Count</span>
                    }
                </div>
                <div id="@("share" + Model.PostInfomation.PostID)">
                    <i class="fa-cus fa-share-square-o fa-cus-18" style="color: #aab8c2" title="Chức năng đang phát triển"></i>
                    @if (Model.CommentList.Count != 0)
                    {
                        <span style="color: #aab8c2"></span>
                    }
                </div>
            </div>
        </div>
        <div class="divider-holizon"></div>
        <div id="@("commentArea" + Model.PostInfomation.PostID)">
            @{Html.RenderAction("ShowCommentArea", "Group", new { postID = Model.PostInfomation.PostID, groupID = ViewBag.GroupID, cmtCount = Model.CommentList.Count });}
        </div>
    </div>

                }

