
@model IEnumerable<iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.GroupInformation>

<div id="joinedGroup" class="tab-pane fade in ">
    <div class="row">
        <div class="col-md-12">
            <div class="sub-container">

                <!-- Header -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4>@Model.Count() nhóm đồng tổ chức</h4>
                    </div>

                    <div class="col-sm-2" style="text-align: right">
@if (ViewBag.IsLeader == true)
{
    <button class="btn btn-image" data-toggle="modal" data-target="#popup" title="Thêm nhóm đồng tổ chức" style="border-color: #049f88">
        <i class="material-icons">@Ajax.ActionLink("person_add", "JoinedGroupsNotOrganizer", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "popup-content", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })</i>
    </button>
}
                    </div>

                    <div class="col-sm-12">
                        <div class="divider-holizon"></div>
                    </div>
                </div>
                <!-- List Groups -->
                @foreach (var item in Model)
                {
                    <div id="@item.GroupID">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <img src="@item.Get_AvatarLink()" style="width: 100%; height: calc(width)">
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <a href="@Url.Action("GroupHome", "Group", new { groupID = item.GroupID })" style="font-weight: bold; color: #049f88">@Html.DisplayFor(modelItem => item.GroupName)</a>
                                        </div>
                                        <div class="row">
                                            <label style="font-weight: normal">@Html.DisplayFor(modelItem => item.GroupDescription)</label>
                                        </div>
                                        <div class="row">
                                            <table style="font-size: 14px;" width="60%">
                                                <tr>
                                                    <td style="color: #049f88;">THÀNH VIÊN</td>
                                                    <td>@Html.DisplayFor(modelItem => item.MemberCount)</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- Interaction Button -->
                                        <div class="row" style="margin-top: 10px">
                                            <div class="row" style="margin-top: -7px; text-align: center">
                                                <label class="member-department">
                                                    @Ajax.ActionLink(" Thành viên tham gia tổ chức", "OrganizedGroupMembers", "Project", new { groupID = item.GroupID, projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "popup-content", InsertionMode = InsertionMode.Replace }, new { @data_toggle = "modal", @data_target = "#popup" })
                                                </label>
                                            </div>
                                            @if (ViewBag.IsLeader == true)
                                            {
                                            <div class="row" style="margin-top: -7px; text-align: center">
                                                <label class="member-department">
                                                    @Ajax.ActionLink(" Xóa ", "DismissOrganizedGroup", "Project", new { groupID = item.GroupID, projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = item.GroupID, InsertionMode = InsertionMode.Replace })
                                                </label>
                                            </div>
                                                }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider-holizon"></div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
