@model IEnumerable<iVolunteer.Models.MongoDB.CollectionClass.Mongo_Post>
@if (Model != null)
{
    foreach (var item in Model)
    {
    <!--  Text Post -->
        <div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
            <div class="row">
                <div class="col-sm-7 col-md-7">
                    <!-- Post Owner -->
                    <table class="table-post-ava">
                        <tr>
                            @if (item.PostInfomation.IsPublic == true)
                            {
                                <td rowspan="2" style="width: 50px;"><img src="@("/Images/Project/Avatar/" + item.PostInfomation.Destination.ID + ".jpg")" width="40" height="40" style="border-radius:5px"></td>
                                <td class="td"><a href="@Url.Action("ProjectHome","Project", new { userID = item.PostInfomation.Destination.ID })" class="user-name">@item.PostInfomation.Destination.DisplayName</a></td>
                            }
                            else
                            {
                                <td rowspan="2" style="width: 50px;"><img src="@("/Images/User/Avatar/" + item.PostInfomation.Creator.ID + ".jpg")" width="40" height="40" style="border-radius:5px"></td>
                                <td class="td"><a href="@Url.Action("UserHome","User", new { userID = item.PostInfomation.Creator.ID })" class="user-name">@item.PostInfomation.Creator.DisplayName</a></td>
                            }
                            
                        </tr>
                        <tr>
                            <td class="td" style="color: gray; font-size:90%">@item.PostInfomation.DateCreate.ToLocalTime()</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-5 col-md-5" style="text-align: right">
                    @{Html.RenderAction("ActionToPost", "Project", new { postID = @item.PostInfomation.PostID, projectID = ViewBag.ProjectID });}
                </div>
            </div>
            <!-- Post Content -->
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card-content">
                        @if (@item.PostInfomation.ImgLink != "")
                        {
                            <div class="postImageArea">
                                <a class="fancybox" href="@("/Images/Post/" + item.PostInfomation.PostID + ".jpg")">
                                    <img class="postImage" src="@("/Images/Post/" + item.PostInfomation.PostID + ".jpg")" />
                                </a>
                            </div>
                        }
                        <p style="white-space: pre-line;">@item.PostInfomation.Content</p>
                    </div>
                </div>
            </div>
            <div class="divider-holizon"></div>
            <!-- Interaction Panel -->
            <div class="row">
                <!-- Interaction Button -->
                <div id="@("likeArea" + item.PostInfomation.PostID)" class="col-md-6 col-sm-6" style="padding: 0px 35px">
                    @{Html.RenderAction("IsLiked", "Project", new { postID = @item.PostInfomation.PostID });}
                </div>
                <!-- Interaction Counter -->
                <div class="col-md-6 col-sm-6" style="text-align: right; padding-right: 6%">
                    <div class="row">
                        <ul class="list-interaction">
                            <li>
                                <i class="glyphicon glyphicon-comment" style="color: #9bcaba"></i>
                                @if (item.CommentList.Count != 0)
                                {
                                    <span style="color: #cecece">@item.CommentList.Count</span>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="@("commentArea" + item.PostInfomation.PostID)">
                @{Html.RenderAction("ShowCommentArea", "Project", new { postID = item.PostInfomation.PostID, projectID = ViewBag.ProjectID });}
            </div>
        </div>
                        }
                    }
