<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row">
        <div class="col-md-12" style="margin-top: -15px; margin-bottom: 5px">
            <h4 style="color: #049f88">Thành viên</h4>
            <div class="divider-holizon" style="margin-top: -8px; opacity: 0.8"></div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-sm-12">
            <ul class="nav drop-nav-tabs">
                <li class="dropdown active" data-toggle="tab">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tổ chức <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Ajax.ActionLink("NHÓM TỔ CHỨC", "OrganizedGroups", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
                        <li class="divider"></li>
                        <li>
                            @Ajax.ActionLink("CÁ NHÂN TỔ CHỨC", "OrganizedUsers", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
                    </ul>
                </li>
                <li class="dropdown" data-toggle="tab">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Ủng hộ <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Ajax.ActionLink("NHÓM ỦNG HỘ", "SponsoredGroups", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
@if (ViewBag.IsLeader == true)
{
                        <li>
                            @Ajax.ActionLink("NHÓM MUỐN ỦNG HỘ", "GroupSponsorRequests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
}
                        <li class="divider"></li>
                        <li>
                            @Ajax.ActionLink("CÁ NHÂN ỦNG HỘ", "SponsoredUsers", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
@if (ViewBag.IsLeader == true)
{
                        <li>
                            @Ajax.ActionLink("CÁ NHÂN MUỐN ỦNG HỘ", "UserSponsorRequests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
}
                        <li class="divider"></li>
                        <li>
                            @Ajax.ActionLink("NGƯỜI NGOÀI ỦNG HỘ", "SponsoredGuests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
@if (ViewBag.IsLeader == true)
{
                        <li>
                            @Ajax.ActionLink("NGƯỜI NGOÀI MUỐN ỦNG HỘ", "GuestSponsorRequests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
}
                    </ul>
                </li>
                <li class="dropdown" data-toggle="tab">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tham gia <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Ajax.ActionLink("NHÓM THAM GIA", "JoinedGroups", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
@if (ViewBag.IsLeader == true)
{
                        <li>
                            @Ajax.ActionLink("NHÓM MUỐN THAM GIA", "GroupJoinRequests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>

                        <li class="divider"></li>
                        <li>
                            @Ajax.ActionLink("CÁ NHÂN MUỐN THAM GIA", "UserJoinRequests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
                        <li>
                            @Ajax.ActionLink("CÁ NHÂN ĐƯỢC ĐỀ XUẤT", "SuggestedUsers", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
}
                    </ul>
                </li>
                <li class="dropdown" data-toggle="tab">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Thành viên <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Ajax.ActionLink("TRƯỞNG DỰ ÁN", "ProjectLeaders", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
                        <li class="divider"></li>
                        <li>
                            @Ajax.ActionLink("THÀNH VIÊN", "ProjectMembers", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "tabprojectmember", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#tabprojectmember')" })
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Content -->
    <div class="tab-project-member">

        <!-- Plan -->
        <div id="tabprojectmember" class="tab-pane fade in active">
            @{ Html.RenderAction("OrganizedGroups", "Project", new { projectID = ViewBag.ProjectID });}
        </div>

    </div>

</div>
