@model iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.ProjectInformation

<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Thông tin về sự kiện</h4>
        </div>
    </div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FollowerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FollowerCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRecruit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRecruit)
        </dd>
    </dl>
</div>

