<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <table>
        <tr>
            <td>
                @Ajax.ActionLink("NHÓM TỔ CHỨC", "OrganizedGroups", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("CÁ NHÂN TỔ CHỨC", "OrganizedUsers", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("NHÓM ỦNG HỘ", "SponsoredGroups", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("NHÓM MUỐN ỦNG HỘ", "GroupSponsorRequests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("CÁ NHÂN ỦNG HỘ", "SponsoredUsers", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("CÁ NHÂN MUỐN ỦNG HỘ", "UserSponsorRequests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("NGƯỜI NGOÀI ỦNG HỘ", "SponsoredGuests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("NGƯỜI NGOÀI MUỐN ỦNG HỘ", "GuestSponsorRequests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("NHÓM THAM GIA", "JoinedGroups", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("NHÓM MUỐN THAM GIA", "GroupJoinRequests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("QUẢN LÝ", "ProjectLeaders", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("THÀNH VIÊN", "ProjectMembers", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("CÁ NHÂN MUỐN THAM GIA", "UserJoinRequests", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
            <td>
                @Ajax.ActionLink("CÁ NHÂN ĐƯỢC ĐỀ XUẤT", "SuggestedUsers", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
            </td>
        </tr>
    </table>
</div>
