@model IEnumerable<iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.AccountInformation>
@using iVolunteer.Common;
<!-- Member -->
<div class="row">
    <div class="col-md-12">
        <div class="sub-container" style="padding: 5px 15px 15px;">

            <!-- Header -->
            <div class="row">
                <div class="col-sm-9">
                    <h4 style="color: #049f88">CÁ NHÂN ỦNG HỘ</h4>
                    <p style="margin: -9px 0 0 0; font-size: 16px;">@Model.Count() người ủng hộ</p>
                </div>

                <div class="col-sm-12">
                    <div class="divider-holizon"></div>
                </div>
            </div>

            <!-- Content -->
            <div class="row" style="padding-left: 10px; padding-right: 10px;">
                @foreach (var item in Model)
                {
                    <div id="@item.UserID">
                        <!-- Member -->
                        <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px; padding-left: 8px; padding-right: 8px; ">
                            <div class="card-member">
                                <div class="profile-avatar">
                                    <img src="@item.Get_AvatarLink()">
                                </div>
                                <div class="interaction-button">
                                    <div id="@item.UserID">
                                        @{ Html.RenderAction("ActionToOtherUser", "Account", new { otherID = item.UserID });}
                                    </div>
                                </div>
                                <div class="user-infor">
                                    @if (item.IsActivate)
                                    {
                                        <div class="user-name">
                                            <a href="@Url.Action("UserHome", "User", new { userID = item.UserID })">@Html.DisplayFor(modelItem => item.DisplayName)</a>
                                        </div>
                                        <div class="detail-infor">
                                            <p class="address-info">@Html.DisplayFor(modelItem => item.Address)</p>
                                            <p class="friends-count">@Html.DisplayFor(modelItem => item.FriendCount) bạn @{Html.RenderAction("MutalFriends", "Account", new { otherID = item.UserID }); }</p>
                                        </div>
                                                }
                                                else
                                                {
                                                    <div class="user-name">
                                                        <label class="member-name">
                                                            @Html.DisplayFor(modelItem => item.DisplayName)
                                                        </label>
                                                    </div>
                                                    <div class="detail-infor">
                                                        <p class="address-info">Người dùng đang bị tạm khóa</p>
                                                    </div>
                                                }

                                </div>
                                @if (ViewBag.IsLeader == true)
                                {
                                    <div class="project-action-to-user">
                                        <ul class="project-action-to-user-list">
                                            <li>
                                                @Ajax.RawActionLink("<i class='fa fa-trash-o fa-cus-14 fa-cus-green' aria-hidden='true'></i>", "DismissSponsoredUser", "Project", new { sponsorID = item.UserID, projectID = ViewBag.ProjectID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = item.UserID, InsertionMode = InsertionMode.Replace, Confirm = "Bạn chắn chắn muốn xóa sự ủng hộ từ người này ? " }, new { @type = "button", @class = "btn", data_toggle = "tooltip", data_placement = "bottom", @title = "Thăng chức" })
                                            </li>
                                        </ul>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                                                }
            </div>
        </div>
    </div>
</div>
