@model iVolunteer.Models.MongoDB.EmbeddedClass.LinkClass.SDLink

@{
    ViewBag.Title = Model.DisplayName;
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @if (Session["UserID"] != null)
    {
        <div class="col-md-3" style="margin: 0 0 1rem 0;; margin-right: -10px">
            @{ Html.RenderAction("NavigationPanel", "Account");}
        </div>
    }
    <div class="col-md-9" id="main_content">
        @*-------------------Cover Photo----------------*@
        @{ Html.RenderAction("AvatarCover", "Project", new { projectID = Model.ID });}
        @*-------------------Navigation Bar----------------*@
@if (ViewBag.IsJoined == false && ViewBag.Sponsored == true)
{
    <h5>Bạn đẫ quyên góp, tài trợ cho sự kiện này.</h5>
}
        <div id="exTab1">
            <ul class="nav nav-tabs">
                <li class="col-md-2">
                    <!--<a id="publictab" href="#public" data-toggle="tab">CÔNG KHAI</a>-->
                    @Ajax.ActionLink("Công khai", "ProjectPublic", "Project", new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
                </li>
                @if (ViewBag.IsJoined == true || ViewBag.IsAdmin == true || ViewBag.Sponsored == true)
                {
                    <li class="col-md-2">
                        <!--<a id="privatetab" href="#private" data-toggle="tab">THẢO LUẬN</a>-->
                        @Ajax.ActionLink("Thảo luận", "ProjectDiscussion", "Project", new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
                    </li>
                    <li class="col-md-2">
                        <!--<a id="plantab" href="#plan" data-toggle="tab">KẾ HOẠCH</a>-->
                        @Ajax.ActionLink("Kế hoạch", "ProjectPlan", "Project", new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
                    </li>
                }
                <li class="col-md-2">
                    <!--<a id="budgettab" href="#member" data-toggle="tab">THÀNH VIÊN</a>-->
                    @Ajax.ActionLink("Thành viên", "ProjectStructure", "Project", new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
                </li>
                <li class="col-md-2">
                    <!--<a id="gallerytab" href="#gallery" data-toggle="tab">THƯ VIỆN</a>-->
                    @Ajax.ActionLink("Thư viện", "ProjectGallery", "Project", new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
                </li>
                <li class="col-md-2">
                    @Ajax.ActionLink("Thông tin", "ProjectInformation", "Project", new { projectID = Model.ID }, new AjaxOptions { UpdateTargetId = "project-tab", InsertionMode = InsertionMode.Replace })
                </li>
            </ul>
            <div id="panelContent" class="tab-content clearfix">
                <!-- Public Tab -->
                <div class="tab-pane active" id="project-tab">
                    @{ Html.RenderAction("ProjectPublic", "Project");}
                </div>

            </div>
      
        </div>
    </div>


</div>


@**@



