@model iVolunteer.Models.MongoDB.EmbeddedClass.ItemClass.BudgetItem

@using (Ajax.BeginForm("EditEachFieldBudgetItem", "Budget", new { budgetID = ViewBag.BudgetID, itemContent = ViewBag.ItemContent, field = ViewBag.Field, userRole = ViewBag.UserRole }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "budgetItemDetails" + ViewBag.BudgetID }, new { @id = "formValidation", @class = "register-form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.Field == "content")
        {
            <div class="row">
                <div class="col-md-8" style="padding-right: 0">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nội dung ..." } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4" style="padding-right: 0">
                    <button type="submit" id="save-budget-item" class="btn btn-image">
                        <i class="material-icons">save</i>
                    </button>
                    <a class="btn btn-image clearform">
                        <i class="material-icons">cancel</i>
                    </a>
                </div>
            </div>
        }

        @if (ViewBag.Field == "unitprice")
        {
            <div class="row">
                <div class="col-md-8" style="padding-right: 0">
                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Đơn giá ..." } })
                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4" style="padding-right: 0">
                    <button type="submit" id="save-budget-item" class="btn btn-image">
                        <i class="material-icons">save</i>
                    </button>
                    <a class="btn btn-image clearform">
                        <i class="material-icons">cancel</i>
                    </a>
                </div>
            </div>
        }

        @if (ViewBag.Field == "quatity")
        {
            <div class="row">
                <div class="col-md-8" style="padding-right: 0">
                    @Html.EditorFor(model => model.Quatity, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số lượng ..." } })
                    @Html.ValidationMessageFor(model => model.Quatity, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4" style="padding-right: 0">
                    <button type="submit" id="save-budget-item" class="btn btn-image">
                        <i class="material-icons">save</i>
                    </button>
                    <a class="btn btn-image clearform">
                        <i class="material-icons">cancel</i>
                    </a>
                </div>
            </div>
        }

        @if (ViewBag.Field == "unit")
        {
            <div class="row">
                <div class="col-md-8" style="padding-right: 0">
                    @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control", @placeholder = "Đơn vị ..." } })
                    @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-4" style="padding-right: 0">
                    <button type="submit" id="save-budget-item" class="btn btn-image">
                        <i class="material-icons">save</i>
                    </button>
                    <a class="btn btn-image clearform">
                        <i class="material-icons">cancel</i>
                    </a>
                </div>
            </div>
        }
    </div>
}
