@model List<iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.PlanPhaseInformation>

@if (Model.Count != 0)
{
    foreach (var item in Model)
    {
        string idupdate = "planPhaseMainTask" + item.PlanPhaseID;
        string idupdatelistmaintask = "maintastlist" + item.PlanPhaseID;

        //id for phase name
        string phasename = "phase-name-" + item.PlanPhaseID;
        string txtphasename = "txt-phase-name-" + item.PlanPhaseID;
        string btnphasename = "btn-phase-name-" + item.PlanPhaseID;

        //id for phase time
        string phasetime = "phase-time-" + item.PlanPhaseID;
        string txtphasestart = "txt-phase-start-" + item.PlanPhaseID;
        string sparrow = "sparrow-" + item.PlanPhaseID;
        string txtphaseend = "txt-phase-end-" + item.PlanPhaseID;
        string btnphasetimeclose = "btn-phase-time-close-" + item.PlanPhaseID;
        string btnphasetimesave = "btn-phase-time-save-" + item.PlanPhaseID;

        <div class="row">
            <div class="col-sm-12">
                <div class="card-panel card-grey" style="margin-bottom: 10px;">
                    <div class="plan-phase-panel">
                        <!-- Interaction button -->
                        @if (ViewBag.IsLeader == true)
                        {
                            <div class="btn-plan-phase-edit">
                                @Ajax.ActionLink("edit", "EditPlanPhase", "Plan", new { planPhaseID = @item.PlanPhaseID }, new AjaxOptions { UpdateTargetId = idupdate, InsertionMode = InsertionMode.Replace }, new { @class = "material-icons md-20", @style = "text-decoration: none; color: #049f88; font-weight: bold; cursor: pointer" })
                            </div>
                            <div class="btn-plan-phase-delete">
                                @Ajax.ActionLink("delete", "DeletePlanPhase", "Plan", new { planPhaseID = @item.PlanPhaseID }, new AjaxOptions { UpdateTargetId = "updatePlanPhaseBox", InsertionMode = InsertionMode.Replace }, new { @class = "material-icons md-20", @style = "text-decoration: none; color: #049f88; font-weight: bold; cursor: pointer" })
                            </div>
                        }

                        <!-- Header -->
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="row">
                                    <!-- Info -->
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label id="@phasename">@item.Name.ToUpper()</label>
                                                <input class="txt-edit-phase-name" id="@txtphasename" value="@item.Name" style="display: none;" />
                                                <i id="@btnphasename" class="material-icons" style="display: none; cursor: pointer">cancel</i>
                                            </div>
                                            <div class="col-xs-12">
                                                <label id="@phasetime" style="font-size: 14px; color: #049f88;">@Html.DisplayFor(modelItem => item.StartTime) - @Html.DisplayFor(modelItem => item.EndTime)</label>
                                                <input class="txt-edit-phase-time" id="@txtphasestart" style="display: none;" type="date" value="@item.StartTime.ToString("yyyy-MM-dd")" />
                                                <i id="@sparrow" class="material-icons md-18" style="display: none">arrow_forward</i>
                                                <input class="txt-edit-phase-time" id="@txtphaseend" style="display: none;" type="date" value="@item.EndTime.ToString("yyyy-MM-dd")" />
                                                <i id="@btnphasetimesave" class="material-icons md-18" style="color: #049f88; display: none; cursor: pointer">save</i>
                                                <i id="@btnphasetimeclose" class="material-icons md-18" style="color: #049f88; display: none; cursor: pointer">cancel</i>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12" style="margin-top: -5px">
                                <div class="divider-holizon"></div>
                            </div>
                        </div>
                        <!-- Detail -->
                        <div class="row">
                            <div class="col-sm-12" id="@idupdate">
                                <div class="row">
                                    <div class="col-sm-12" id="@idupdatelistmaintask" style="padding-left: 5px; padding-right: 5px">
                                        @{ Html.RenderAction("DetailMainTask", "Plan", new { planPhaseID = @item.PlanPhaseID });}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        if (ViewBag.IsLeader == true)
        {
            <script type="text/javascript">

                /**************************************************** Update Phase Name *************************************************************/

                //Show textfield edit phase name
                $("#" + '@phasename').click(function(){
                    $("#" + '@phasename').hide();
                    $("#" + '@txtphasename').show();
                    $("#" + '@btnphasename').show();
                });

                //Hide textfield edit phase name
                $("#" + '@btnphasename').click(function () {
                    $("#" + '@phasename').show();
                    $("#" + '@txtphasename').hide();
                    $("#" + '@btnphasename').hide();
                    $("#" + '@txtphasename').attr($("#" + '@phasename').text());
                });

                //update phase name
                $("#" + '@txtphasename').keypress(function (e) {
                    if (e.which == 13) {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("EditPlanPhaseName", "Plan")",
                            data: {
                                planPhaseID: "@item.PlanPhaseID",
                                txtPhaseName: "" + $("#" + '@txtphasename').val()
                            },
                            success: function (response) {
                                $("#updatePlanPhaseBox").html(response);
                            }
                        });
                    }
                });

                /**************************************************** Update Phase Time *************************************************************/

                //Show textfield edit phase time
                $("#" + '@phasetime').click(function(){
                    $("#" + '@phasetime').hide();
                    $("#" + '@txtphasestart').css('display', 'inline');
                    $("#" + '@sparrow').css('display', 'inline');
                    $("#" + '@txtphaseend').css('display', 'inline');
                    $("#" + '@btnphasetimeclose').show();
                    $("#" + '@btnphasetimesave').show();
                });

                //Hide textfield edit phase name
                $("#" + '@btnphasetimeclose').click(function () {
                    $("#" + '@phasetime').show();
                    $("#" + '@txtphasestart').hide();
                    $("#" + '@sparrow').hide();
                    $("#" + '@txtphaseend').hide();
                    $("#" + '@txtphasestart').val('@item.StartTime.ToString("yyyy-MM-dd")');
                    $("#" + '@txtphaseend').val('@item.EndTime.ToString("yyyy-MM-dd")');
                    $("#" + '@btnphasetimeclose').hide();
                    $("#" + '@btnphasetimesave').hide();
                });

                //update phase name
                $("#" + '@btnphasetimesave').click(function () {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("EditPlanPhaseTime", "Plan")",
                        data: {
                            planPhaseID: "@item.PlanPhaseID",
                            txtStartTime: "" + $("#" + '@txtphasestart').val(),
                            txtEndTime: "" + $("#" + '@txtphaseend').val()
                        },
                        success: function (response) {
                            $("#updatePlanPhaseBox").html(response);
                        }
                    });
                });
            </script>
        }
    }
}
