
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_LeftSideBar")
        </div>
        <div class="col-md-9">
            <div class="card-panel">
                <div class="row">
                    <div class="col-sm-7 col-md-7">
                        <!-- Post Owner -->
                        <table class="table-post-ava">
                            <tr>
                                <td rowspan="2"><object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object></td>
                                <td class="td">
                                    <a href="" class="user-name">Võ Tôn Phúc</a>
                                    <i class="glyphicon glyphicon-triangle-right" style="font-size: smaller"></i>
                                    <a href="project.html" class="user-name">Tôi Tình Nguyện</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="td" style="color: gray; font-size:90%">16 minutes</td>
                            </tr>
                        </table>
                    </div>
                    <!-- Navigation button -->
                    <div class="col-sm-5 col-md-5" style="text-align: right;">
                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Xóa"><i class="glyphicon glyphicon-trash"></i></button>
                        <button class="btn btn-image" type="submit" data-toggle="tooltip" title="Thu gọn"><i class="glyphicon glyphicon-menu-right"></i></button>
                    </div>
                </div>
                <!-- Post Content -->
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="card-content">
                            <p>Hiện tại nhóm mình vẫn đang tổ chức Project Toa Tàu Trẻ Em. Tuy nhiên mình muốn mọi người nghĩ dần idea cho hoạt động sắp tới sau khi Toa Tàu Trẻ Em kết thúc. Mọi người cố gắng nghĩ ra các ý tưởng trong tuần này, cuối tuần chung ta sẽ vote ý tưởng và bắt đầu xây plan các kiểu cho dự án sắp tới của bọn mình luôn nhé.<br>Cám ơn mọi người nhiều. :))) </p>
                        </div>
                    </div>
                </div>
                <div class="divider-holizon"></div>
                <!-- Interaction Panel -->
                <div class="row">
                    <!-- Interaction Button -->
                    <div class="col-md-6 col-sm-6">
                        <button type="button" class="btn-card" aria-label="Left Align">
                            <span class="glyphicon glyphicon-heart-empty"></span>
                            Like
                        </button>
                        <button type="button" class="btn-card" aria-label="Left Align">
                            <span class="glyphicon glyphicon-comment"></span>
                            Comment
                        </button>
                    </div>
                    <!-- Interaction Counter -->
                    <div class="col-md-6 col-sm-6" style="text-align: right">
                        <div class="row">
                            <ul class="list-interaction">
                                <li>
                                    <i class="glyphicon glyphicon-heart"></i>
                                    <span><strong>15</strong></span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-comment"></i>
                                    <span><strong>2</strong></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="divider-holizon"></div>
                <!-- Comment -->
                <div class="row">
                    <div class="col-md-1 col-sm-1">
                        <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="row">
                            <a href="" class="user-name">Đặng Thị Bình</a>
                            <span>&bull; 5 phút trước</span>
                        </div>
                        <div class="row">
                            <p>Mình thấy dạy tiếng anh cho mấy đứa nhỏ ở Tân Xã cũng hợp lí...</p>
                        </div>
                    </div>
                </div>
                <!-- Comment -->
                <div class="row">
                    <div class="col-md-1 col-sm-1">
                        <object type="image/svg+xml" data="../images/avatar.svg" width="40" height="40" border="1"></object>
                    </div>
                    <div class="col-md-9 col-sm-9">
                        <div class="row">
                            <a href="" style="color: #049f88; font-weight: bold">Nguyễn Bá Long</a>
                            <span>&bull; 2 phút trước</span>
                        </div>
                        <div class="row">
                            <p>Cũng được đấy nhỉ :))).</p>
                        </div>
                        <div class="row">
                            <div></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    @*<div>
            @Html.ActionLink("Tạo nhóm tình nguyện", "CreateGroup", "Group")
        </div>
        <div>
            @Html.ActionLink("Tạo dự án tình nguyện", "CreateProject", "Project")
        </div>
        <div>
            @Html.ActionLink("Danh sách các nhóm tình nguyện", "ListGroup", "Admin", new { skip = 0, number = 5 },null)
        </div>*@
    @*<div>
            @Html.ActionLink("Danh sách các dự án tình nguyện", "ListProject", "Admin", new { skip = 0, number = 5 },null)
        </div>*@
    @*<div>
            @Html.ActionLink("Danh sách người dùng", "ListUser", "Admin", new { skip = 0, number = 5 }, null)
        </div>
        <div>
            @Html.ActionLink("Thông tin của tôi", "UserInformationDetail", "User", new { userID = Session["UserID"].ToString() },null)
        </div>*@

