@model IEnumerable<iVolunteer.Models.MongoDB.EmbeddedClass.ItemClass.Comment>

@foreach (var item in Model)
{
        <!-- Comment -->
    <li>
        <div class="row">
            <div class="col-sm-11">
                <div class="row">
                    <div class="cmt-avata" style="padding-right: 0">
                        <object type="image/jpg" data="@("/Images/User/Avatar/" + item.Creator.ID + ".jpg")" width="40" height="40" style="border-radius:5px"></object>
                    </div>
                    <div class="cmt-detail">
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="@Url.Action("UserHome", "User", new { userID = item.Creator.ID })" class="user-name">@item.Creator.DisplayName</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <span style="font-size: 0.8em; color: #b4b4b4"> @item.DateCreate.ToLocalTime()</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>@item.Content</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="commentHorizontal"></div>
            </div>
        </div>
    </li>
}
