@model List<iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.BudgetRecordInformation>

@if (Model.Count != 0)
{
    foreach (var item in Model)
    {
        string idupdate = "add-item-test-" + Html.DisplayFor(modelItem => item.BudgetRecordID);
        string budgetItemUpdate = "budgetItemDetails" + Html.DisplayFor(modelItem => item.BudgetRecordID);
        <div class="row">
            <div class="col-sm-12">
                <div class="panel-group" style="margin-bottom: 20px">
                    <!-- Đầu mục -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title" style="padding: 0;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h4 style="font-weight: bold; line-height: 30px">@Html.DisplayFor(modelItem => item.Name)</h4>
                                        </div>

                                        <div class="col-sm-4" style="text-align: right; padding: 0 8px">
                                            @if (ViewBag.UserRole == "1")
                                            {

                                                @*<h4 style="color: #049f88; font-weight: bold">@Html.DisplayFor(modelItem => item.Total) <span> VND </span></h4>*@
                                            <!--<button class="btn btn-image" data-toggle="tooltip" title="Sửa"><i class="material-icons md-20">edit</i></button>-->
                                                @Ajax.ActionLink("edit", "EditBudgetRecord", "Budget", new { budgetID = Html.DisplayFor(modelItem => item.BudgetRecordID), userRole = ViewBag.UserRole }, new AjaxOptions { UpdateTargetId = idupdate, InsertionMode = InsertionMode.Replace }, new { @class = "material-icons md-20", @style = "text-decoration: none; color: #049f88; font-weight: bold; cursor: pointer" })
                                                @*<button class="btn btn-image" data-toggle="tooltip" title="Xóa" onclick="location.href ='@Url.Action("DeleteBudgetRecord","Budget", new { budgetID = Html.DisplayFor(modelItem => item.BudgetRecordID) })'"><i class="material-icons md-20">delete</i></button>*@
                                                @Ajax.ActionLink("delete", "DeleteBudgetRecord", "Budget", new { budgetID = Html.DisplayFor(modelItem => item.BudgetRecordID), userRole = ViewBag.UserRole }, new AjaxOptions { UpdateTargetId = "budgetRecordDetails", InsertionMode = InsertionMode.Replace }, new { @class = "material-icons md-20", @style = "text-decoration: none; color: #049f88; font-weight: bold; cursor: pointer; padding-left: 8px" })

                                            }
                                            @{
                                                string idcollapse = "collapse" + item.BudgetRecordID;
                                                string hrefcollapse = "#collapse" + item.BudgetRecordID;
                                            }
                                            <a data-toggle="collapse" href="@hrefcollapse"><i class="material-icons">keyboard_arrow_up</i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="@idcollapse" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div id="@budgetItemUpdate">
                                    @{ Html.RenderAction("DetailBudgetItem", "Budget", new { budgetID = Html.DisplayFor(modelItem => item.BudgetRecordID), userRole = ViewBag.UserRole });}
                                </div>
                                @if (ViewBag.UserRole == "1")
                                {
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!--<a id="add-budget-item-button" style="color: #049f88; font-weight: bold; cursor: pointer"> THÊM  NỘI DUNG ...</a>-->
                                            @Ajax.ActionLink("THÊM  NỘI DUNG ...", "AddBudgetItem", "Budget", new { budgetID = Html.DisplayFor(modelItem => item.BudgetRecordID), userRole = ViewBag.UserRole }, new AjaxOptions { UpdateTargetId = idupdate, InsertionMode = InsertionMode.Replace }, new { @style = "color: #049f88; font-weight: bold; cursor: pointer" })
                                            <div class="row">
                                                <div class="col-sm-12" id="@idupdate">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

                                }
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-md-12" style="margin-bottom: 20px">
                                        <h4>Mục này chưa có nội dung nào!</h4>
                                    </div>
                                </div>
                            }

