@model List<iVolunteer.Models.MongoDB.EmbeddedClass.ItemClass.TeamFoundDonator>
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");

}
<div class="row">
    <div class="col-sm-12">
        <div class="panel-group" style="margin-bottom: 20px">
            <!-- Đầu mục -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title" style="padding: 0;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 style="font-weight: bold; line-height: 30px">Tài trợ, Ủng hộ, Quyên góp, Quỹ nhóm:</h4>
                                </div>

                                <div class="col-sm-4" style="text-align: right; padding: 0 8px">
                                    <a data-toggle="collapse" href="#teamFoundDonatorCollapse"><i class="material-icons">keyboard_arrow_up</i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div id="teamFoundDonatorCollapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div id="financeItemDetails">
                            @if (Model.Count != 0)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px; padding-left: 3px; padding-right: 3px">
                                        <div class="card-member">
                                            <div class="outside-sponsore">
                                                <a href="">@Html.DisplayFor(modelItem => item.Name)</a>
                                            </div>
                                            <div class="interaction-button" style="margin-top: 3px; padding-right: 15px;">
                                                @if (ViewBag.IsLeader == true && item.IsReceived == false)
                                                {
                                                    @Ajax.ActionLink("delete", "DeleteTeamFoundDonator", "Budget", new { fundID = ViewBag.FundID, teamFoundDonatorID = item.TeamFoundDonatorID }, new AjaxOptions { UpdateTargetId = "tabplanbudget", InsertionMode = InsertionMode.Replace }, new { @class = "material-icons md-18", @style = "text-decoration: none; color: #fff; font-weight: bold; cursor: pointer; padding-left: 8px" })
                                                }
                                            </div>
                                            <div class="outside-sponsore-infor">
                                                <div class="detail-infor">
                                                    <p class="address-info">@Html.DisplayFor(modelItem => item.Information)</p>
                                                    <p class="email-address">Ngày nhận: @Html.DisplayFor(modelItem => item.ReceiveDate)</p>
                                                    @if (item.Method == 1)
                                                    {
                                                        <p class="phone-number">Phương thức: TIỀN MẶT</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="phone-number">Phương thức: CHUYỂN KHOẢN</p>
                                                    }

                                                </div>
                                            </div>
                                            <div class="project-action-to-user" style="width: 35%">
                                                <ul class="project-action-to-user-list">
                                                    <li>
                                                        @if (item.IsReceived == true)
                                                        {
                                                            <p style="color: #049f88; margin-bottom: 0; -webkit-margin-after: 0;">ĐÃ NHẬN</p>
                                                        }
                                                        else
                                                        {
                                                            <p style="color: #ff0000; margin-bottom: 0; -webkit-margin-after: 0;">CHƯA NHẬN</p>
                                                        }
                                                    </li>
                                                    <li>
                                                        <h4 style="margin-bottom: 0; margin-top: 0; -webkit-margin-before: 0;">@String.Format(info, "{0:C0}", item.Amount)</h4>
                                                    </li>
                                                    <li>
                                                        @if (item.IsReceived == false)
                                                        {
                                                            <div class="checkbox" style="margin-top: 0;">
                                                                <input id="@("checkbox" + item.TeamFoundDonatorID.ToString())" type="checkbox" onclick="changeStatusIsRecieved('@ViewBag.FundID', '@item.TeamFoundDonatorID.ToString()')">
                                                                <label for="@("checkbox" + item.TeamFoundDonatorID.ToString())">
                                                                    Đã nhận
                                                                </label>
                                                            </div>
                                                        }
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <h4>Mục này chưa có thông tin nào</h4>
                            }

                            @if (ViewBag.IsLeader == true)
                            {
                                <div class="row">
                                    <div class="col-sm-12" style="margin-top: 15px">
                                        @Ajax.ActionLink("THÊM NỘI DUNG ...", "AddTeamFoundDonator", "Budget", new { fundID = ViewBag.FundID }, new AjaxOptions { UpdateTargetId = "addTeamFoundDonatorForm", InsertionMode = InsertionMode.Replace, OnBegin = "OnBegin('#addTeamFoundDonatorForm')" }, new { @style = "color: #049f88; font-weight: bold; cursor: pointer" })
                                        <div class="row">
                                            <div class="col-sm-12" id="addTeamFoundDonatorForm">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
