@model iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.ActivityInformation

<!--Organized projects-->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Sự kiện đã tham gia tổ chức</h4>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Group -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model.OrganizedProjects)
                {
                    <li><a href="@Url.Action("ProjectHome","Project",new { projectID = item.ID })">@item.DisplayName</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<!--Sponsor Projects-->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Sự kiện đã tài trợ, quyên góp</h4>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Group -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model.SponsoredProjects)
                {
                    <li><a href="@Url.Action("ProjectHome","Project",new { projectID = item.ID })">@item.DisplayName</a></li>
                }
            </ul>
        </div>
    </div>
</div>
<!--Joined Projects-->
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Sự kiện đã tham gia hoạt động</h4>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Group -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <ul class="list-navi">
                @foreach (var item in Model.JoinedProjects)
                {
                    <li><a href="@Url.Action("ProjectHome","Project",new { projectID = item.ID })">@item.DisplayName</a></li>
                }
            </ul>
        </div>
    </div>
</div>