@model iVolunteer.Models.MongoDB.EmbeddedClass.LinkClass.SDLink

@{
    ViewBag.Title = Model.DisplayName;
}

<div class="row">
    @if (Session["UserID"] != null)
    {
        <div class="col-md-3" style="margin: 0 0 1rem 0;; margin-right: -10px">
            @{ Html.RenderAction("NavigationPanel", "Account");}
        </div>
                }
    <div class="col-md-9" id="main_content">
        @*-------------------Cover Photo----------------*@
        @{ Html.RenderAction("AvatarCover", "User", new { userID = Model.ID });}
        @*-------------------Navigation Bar----------------*@
        <div id="exTab1">
            <ul class="nav nav-tabs">
                <li class="col-md-2">
                    <!--<a id="publictab" href="@**@*@@Url.Action("DisplayPublic", "Project", new AjaxOptions {UpdateTargetId = "tabContent", InsertionMode = InsertionMode.Replace  })" data-toggle="tab">CÔNG KHAI</a>-->
                    @Ajax.ActionLink("Thông tin", "UserInformation", "User", new { userID = Model.ID }, new AjaxOptions { UpdateTargetId = "user-tab", InsertionMode = InsertionMode.Replace })
                </li>
                <li class="col-md-2">
                    @Ajax.ActionLink("Bạn bè", "FriendList", "User", new { userID = Model.ID }, new AjaxOptions { UpdateTargetId = "user-tab", InsertionMode = InsertionMode.Replace })
                </li>
                <li class="col-md-2">
                    @*<a id="discusstab" href="@Url.Action("DisplayDiscussion", "Project")" data-toggle="tab">THẢO LUẬN</a>*@
                    @Ajax.ActionLink("Nhóm", "JoinedGroups", "User", new { userID = Model.ID }, new AjaxOptions { UpdateTargetId = "user-tab", InsertionMode = InsertionMode.Replace })
                </li>
                <li class="col-md-2">
                    @Ajax.ActionLink("Hoạt động", "ActivityHistory", "User", new { userID = Model.ID }, new AjaxOptions { UpdateTargetId = "user-tab", InsertionMode = InsertionMode.Replace })
                </li>
            </ul>
            <div id="panelContent" class="tab-content clearfix">
                <!-- Public Tab -->
                <div class="tab-pane active" id="user-tab">
                </div>
            </div>

        </div>
    </div>

</div>

