@using iVolunteer.Common
    
<ul class="list-action-to-target">
    @if (ViewBag.IsUser == true)
    {
        if (ViewBag.IsAdmin == true)
        {
            if (ViewBag.IsActivate == true)
            {
                <li>
                    @Ajax.ActionLink("Khóa", "DeactivateProject", "Admin", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = ViewBag.ProjectID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default" })
                </li>
            }
            else
            {
                <li>
                    @Ajax.ActionLink("Kích hoạt", "ReactivateProject", "Admin", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = ViewBag.ProjectID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default" })
                </li>
            }
        }
        else
        {
            if (ViewBag.Ongoing == true)
            {
                if (ViewBag.IsJoined != true)
                {
                    if (ViewBag.IsJoinRequested == true)
                    {
                        <li>
                            @*//Hủy yêu cầu tham gia*@
                            @Ajax.RawActionLink("<i class='fa-cus fa-sign-in fa-cus-btn-action-active fa-cus-16' aria-hidden='true'></i>&nbsp;<span class='action-to-target-text action-text-active'>&nbsp;Hủy yêu cầu tham gia</span>", "CancelJoinProjectRequest", "Account", new { projectID = ViewBag.ProjectID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = ViewBag.ProjectID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default action-to-target-link" })
                        </li>
                    }
                    else
                    {
                        if (ViewBag.IsRecruiting == true)
                        {
                            <li>
                                @*// Tham gia*@
                                @Ajax.RawActionLink("<i class='fa-cus fa-sign-in fa-cus-gray fa-cus-16' aria-hidden='true'></i><span class='action-to-target-text'>  Tham gia</span>", "JoinProjectRequest", "Account", new { projectID = ViewBag.ProjectID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = ViewBag.ProjectID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default action-to-target-link" })
                            </li>
                        }
                    }

                    if (ViewBag.IsFollowing == true)
                    {
                        <li>
                            @*//Hủy theo dõi*@
                            @Ajax.RawActionLink("<i class='fa-cus fa-rss fa-cus-btn-action-active fa-cus-16' aria-hidden='true'></i><span class='action-to-target-text action-text-active'>  Hủy theo dõi</span>", "UnfollowProject", "Account", new { projectID = ViewBag.ProjectID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = ViewBag.ProjectID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default action-to-target-link" })
                        </li>
                    }
                    else
                    {
                        <li>
                            @*//Theo dõi*@
                            @Ajax.RawActionLink("<i class='fa-cus fa-rss fa-cus-gray fa-cus-16' aria-hidden='true'></i><span class='action-to-target-text'>  Theo dõi</span>", "FollowProject", "Account", new { projectID = ViewBag.ProjectID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = ViewBag.ProjectID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default action-to-target-link" })
                        </li>
                    }
                }
                else
                {
                    <li>
                        @*//Roi su kien*@
                        @Ajax.RawActionLink("<i class='fa-cus fa-sign-out fa-cus-gray fa-cus-16' aria-hidden='true'></i><span class='action-to-target-text'>  Rời dự án</span>", "ProjectResign", "Account", new { projectID = ViewBag.ProjectID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = ViewBag.ProjectID, InsertionMode = InsertionMode.Replace, Confirm = " Bạn chăc chắn không muốn tham gia dự án này nữa ? " }, new { @class = "btn btn-default action-to-target-link", @type = "button", @id = "project-resign" })
                    </li>
                }

                if (ViewBag.IsSponsored != true)
                {
                    if (ViewBag.IsSponsorRequested == true)
                    {
                        <li>
                            @*//Hủy yêu cầu ủng hộ*@
                            @Ajax.RawActionLink("<i class='material-icons md-mygreen md-18'>money_off</i><span class='action-to-target-text action-text-active'>  Hủy yêu cầu ủng hộ</span>", "CancelSponsorProjectRequest", "Account", new { projectID = ViewBag.ProjectID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = ViewBag.ProjectID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default action-to-target-link" })
                        </li>
                    }
                    else
                    {   
                        <li>
                            @*//Ủng hộ*@
                            @Ajax.RawActionLink("<i class='material-icons md-18 md-mygray'>attach_money</i><span class='action-to-target-text'>  Ủng hộ</span>", "SponsorProjectRequest", "Account", new { projectID = ViewBag.ProjectID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = ViewBag.ProjectID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default action-to-target-link" })
                        </li>
                    }
                }
                else
                {
                    <li>
                        <button type="button" class="btn btn-default action-to-target-link" aria-label="Left Align">
                            <span class="material-icons md-mygreen md-18" aria-hidden="true">attach_money</span>
                            <span class="action-to-target-text action-text-active">Đã ủng hộ</span>
                        </button>
                    </li>  
                }
                <li>
					@*Đại diện nhóm*@
                    @Ajax.RawActionLink("<i class='material-icons md-18 md-mygray'>group_add</i><span class='action-to-target-text'>  Đại diện nhóm</span>", "LeadGroups", "Account", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "popup-content", InsertionMode = InsertionMode.Replace, OnBegin = "OnBeginPopup('#popup-content','#popup')" }, new { @type = "button", @class = "btn btn-default action-to-target-link" })
                </li>      
            }

            if (ViewBag.IsReported == true)
            {
                <li>
                    @*//Hủy báo cáo*@
                    @*<button class="btn btn-default action-to-target-link" id="cancelReportBtn" onclick="cancelReport(this)" href="@Url.Action("CancelReport","Report", new { targetID = ViewBag.ProjectID, targetType = 2})"><i class="material-icons md-mygreen md-18">flag</i><span class="action-to-target-text action-text-active">Hủy báo cáo</span></button>*@
                    @Ajax.RawActionLink("<i class='material-icons md-mygreen md-18'>flag</i><span class='action-to-target-text' style='color: #049f88;'>  Hủy báo cáo</span>", "CancelReport", "Report", new { targetID = ViewBag.ProjectID, targetType = 2 }, new AjaxOptions { UpdateTargetId = ViewBag.ProjectID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default action-to-target-link" })
                </li>
                
            }
            else
            {
                <li>
                    @*<button class="btn btn-default action-to-target-link" onclick="reportObject(this)" id="displayReport" href="@Url.Action("DisplayReport","Report", new { targetID = ViewBag.ProjectID, targetType = 2})"><i class="material-icons md-18 md-mygray">flag</i><span class="action-to-target-text">  Báo cáo vi phạm</span></button>*@
                    @Ajax.RawActionLink("<i class='material-icons md-18 md-mygray'>flag</i><span class='action-to-target-text'>  Báo cáo vi phạm</span>", "DisplayReport", "Report", new { targetID = ViewBag.ProjectID, targetType = 2 }, new AjaxOptions { UpdateTargetId = "dialog-div", InsertionMode = InsertionMode.Replace, OnBegin = "openDialog('Báo cáo vi phạm', 350, 400)" }, new { @type = "button", @class = "btn btn-default action-to-target-link" })
                </li>    
            }
        }
    }
    else
    {
        if (ViewBag.Ongoing == true)
        {
            <li>
                @*//Tài trợ, quyên góp*@
                @Ajax.RawActionLink("<i class='material-icons'>attach_money</i><span class='action-to-target-text'>  Tài trợ, quyên góp</span>", "CreateSponsor", "Project", new { projectID = ViewBag.ProjectID }, new AjaxOptions { UpdateTargetId = "popup-content", InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default action-to-target-link", @data_toggle = "modal", @data_target = "#popup" })
            </li>
        }
    }

</ul>