@model iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.AccountInformation

<div class="card-panel">
    <div class="row" style="text-align: center;">
        <div class="col-sm-12">
            @{ string avtlink = "/Images/User/Avatar/" + Model.UserID + ".jpg";}
            <img type="image/svg+xml" src=@avtlink width="80" height="80" border="1">
        </div>
        <div class="col-sm-12" style="margin-bottom: 10px">
            <a style="color: #049f88; font-weight: bold;" href="@Url.Action("UserProfile", "User", new { userID = Model.UserID})">@Model.DisplayName</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3" style="text-align: center; color: #049f88">
            <i class="material-icons" data-toggle="tooltip" title="" data-original-title="Projects">assignment</i>
            <p style="text-align: center; font-weight: bold">@Model.ProjectCount</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3" style="text-align: center; color: #049f88">
            <i class="material-icons" data-toggle="tooltip" title="Nhóm">group</i>
            <p style="text-align: center; font-weight: bold">@Model.GroupCount</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3" style="text-align: center; color: #049f88">
            <i class="material-icons" data-toggle="tooltip" title="Bạn bè">person</i>
            <p style="text-align: center; font-weight: bold">@Model.FriendCount</p>
        </div>
    </div>
</div>
<!-- Slide Bar Current Projects -->
@{ Html.RenderAction("CurrentProjects", "Account"); }
<!-- Slide Bar Groups -->
@{ Html.RenderAction("JoinedGroups", "Account"); }
<!-- Slide Bar Joined Projects -->
@{ Html.RenderAction("JoinedProjects", "Account"); }

