@model iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.ProjectInformation

<div class="card-panel">
    <div class="row">
        <div class="col-sm-7 col-md-7">

            <!-- Post Owner -->
            <table class="table-post-ava">
                <tbody>
                    <tr>
                        <td rowspan="2"><object type="image/svg+xml" data="images/avatar.svg" width="40" height="40" border="1"></object></td>
                        <td class="td" style="color: #049f88; font-weight: bold">Toa Tàu Trẻ Em</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Navigation button -->
        <div class="col-sm-5 col-md-5" style="text-align: right;">
            <button class="btn btn-image" type="submit" data-toggle="tooltip" title="" data-original-title="Donate"><i class="glyphicon glyphicon-usd"></i></button>
            <button class="btn btn-image" type="submit" data-toggle="tooltip" title="" data-original-title="Contact"><i class="glyphicon glyphicon-envelope"></i></button>
            <button class="btn btn-image" type="submit" data-toggle="tooltip" title="" data-original-title="Follow"><i class="glyphicon glyphicon-star"></i></button>
            <button class="btn btn-image" type="submit" data-toggle="tooltip" title="" data-original-title="Join"><i class="glyphicon glyphicon-log-in"></i></button>
            <button class="btn btn-image" type="submit" data-toggle="tooltip" title="" data-original-title="Collapse"><i class="glyphicon glyphicon-menu-right"></i></button>
        </div>
    </div>

    <!-- Post content -->
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="card-content">
                <div class="col-md-6" style="text-align: justify">
                    <div class="row">
                        <p>@Model.ProjectDescription</p>
                    </div>

                    <div class="row">
                        <ul class="list-post">
                            <li>
                                <i class="material-icons md-mygreen">place</i>
                                <span><strong>Place:</strong>   @Model.Location</span>
                            </li>
                            <li>
                                <i class="material-icons md-mygreen">view_list</i>
                                <span><strong>Sector:</strong>     Unknown</span>
                            </li>
                            <li>
                                <i class="material-icons md-mygreen">access_time</i>
                                <span><strong>Time:</strong>   @Model.DateStart - @Model.DateEnd</span>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <p style="text-align:center;"><a href="@Url.Action("ProjectHome","Project",new {projectID = Model.ProjectID)" class="btn btn-detail">Detail</a></p>
                    </div>
                </div>

                <div class="col-md-6">
                    @{ string avtlink = "/Images/Project/Avatar/" + Model.ProjectID + ".jpg";}
                    <img src="@avtlink"/>
                </div>
            </div>
        </div>
    </div>

    <div class="divider-holizon"></div>

</div>