@model iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.ProjectInformation

<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">

    <!-- Tổng quan -->
    <div class="row">
        <div class="col-md-12" style="margin-top: -20px">
            <h4 style="color: #049f88">Tổng Quan</h4>
            <div class="divider-holizon" style="margin-top: -8px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.DisplayFor(model => model.ProjectShortDescription)
        </div>
    </div>

    <!-- Địa điểm -->
    <div class="row">
        <div class="col-md-12">
            <h4 style="color: #049f88">Địa Điểm</h4>
            <div class="divider-holizon" style="margin-top: -8px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.DisplayFor(model => model.Location)
        </div>
    </div>

    <!-- Thời Gian -->
    <div class="row">
        <div class="col-md-12">
            <h4 style="color: #049f88">Thời Gian</h4>
            <div class="divider-holizon" style="margin-top: -8px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><strong>Thời gian bắt đầu: </strong>@Html.DisplayFor(model => model.DateStart)</p>
            <p><strong>Thời gian kết thúc: </strong>@Html.DisplayFor(model => model.DateEnd)</p>
        </div>
    </div>

    <!-- Thông tin liên quan -->
    <div class="row">
        <div class="col-md-12">
            <h4 style="color: #049f88">Thông tin chi tiết</h4>
            <div class="divider-holizon" style="margin-top: -8px"></div>
            @Html.DisplayFor(model => model.ProjectFullDescription)
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

    <!-- Liên hệ-->
    <div class="row">
        <div class="col-md-12">
            <h4 style="color: #049f88">Liên hệ</h4>
            <div class="divider-holizon" style="margin-top: -8px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-post">
                <li>
                    <i class="material-icons md-18 md-mygreen" data-toggle="tooltip" title="Email" data-placement="left">mail_outline</i>
                    <span>@Html.DisplayFor(model => model.Email)</span>
                </li>
                <li>
                    <i class="material-icons md-18 md-mygreen" data-toggle="tooltip" title="Điện Thoại" data-placement="left">phone</i>
                    <span>@Html.DisplayFor(model => model.Phone)</span>
                </li>
            </ul>
        </div>
    </div>
</div>

