@model List<iVolunteer.Models.MongoDB.EmbeddedClass.ItemClass.MainTask>

<ol class="main-list-task">
    @if (Model.Count != 0)
    {
        foreach (var item in Model)
        {
            DateTime date = DateTime.Today;
            TimeSpan span = item.Duedate - date;
            int dateGap = span.Days;

            string mainTaskLiID = "maintask" + item.MainTaskID;
            <!-- Main Task 1 -->
            <li id="@mainTaskLiID">
                @if (ViewBag.IsLeader == true)
                {
                    <div class="delete-main-task">
                        @Ajax.ActionLink("delete", "DeleteMainTask", "Plan", new { planPhaseID = ViewBag.PlanPhaseID, mainTaskID = item.MainTaskID },
                                                                             new AjaxOptions { UpdateTargetId = "maintastlist" + ViewBag.PlanPhaseID, InsertionMode = InsertionMode.Replace },
                                                                             new { @class = "material-icons md-20", @style = "text-decoration: none; font-weight: bold; cursor: pointer;" })
                    </div>
                }
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-panel sub-card-panel">
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<lable>@Html.DisplayFor(modelItem => item.Name)</lable>*@
                                    @Ajax.ActionLink(@item.Name, "MainTaskDetail", "Plan", new { planPhaseID = ViewBag.PlanPhaseID, mainTaskID = item.MainTaskID },
                                                                                           new AjaxOptions { UpdateTargetId = "mainTaskDetail", InsertionMode = InsertionMode.Replace, OnComplete = "ShowModal()" },
                                                                                           new { @id="openMainTaskModal", @data_target= "#taskdetail", @style = "color: #000; cursor: pointer" })
                                </div>
                                <div class="col-sm-12">
                                    <ul class="main-list-task-infor">
                                        <li>
                                            <span class="glyphicon mygray glyphicon-check" aria-hidden="true"></span>
                                            <span class="task-count">@item.TaskDoneCount/@item.SubTaskCount</span>
                                        </li>
                                        <li>
                                            <i class="material-icons md-16 md-mygray">chat_bubble_outline</i>
                                            <span class="task-count">@Html.DisplayFor(modelItem => item.CommentCount)</span>
                                        </li>
                                        @if (dateGap >= 0)
                                        {
                                            <li>
                                                <span class="glyphicon mygray glyphicon-time" aria-hidden="true"></span>
                                                <span class="task-count">@Html.DisplayFor(modelItem => item.Duedate)</span>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <span class="glyphicon mygray glyphicon-time" aria-hidden="true"></span>
                                                <span class="task-count" style="color: red">@Html.DisplayFor(modelItem => item.Duedate)</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        }
    }
    else
    {
        <li>
            <div class="row">
                <div class="col-sm-12" style="margin-top: 10px;">
                    <label>Giai đoạn này chưa có công việc nào!</label>
                </div>
            </div>
        </li>
    }
    @if (ViewBag.IsLeader == true)
    {
        string idupdate = "addMainTaskForm" + ViewBag.PlanPhaseID;
        <li>
            <div class="row">
                <div class="col-sm-12" style="margin-top: 25px;">
                    <!--<label style="font-weight: bold; color: #049f88;">THÊM CÔNG VIỆC ...</label>-->
                    @Ajax.ActionLink("THÊM  CÔNG VIỆC ...", "AddMainTask", "Plan", new { planPhaseID = ViewBag.PlanPhaseID }, new AjaxOptions { UpdateTargetId = idupdate, InsertionMode = InsertionMode.Replace }, new { @style = "color: #049f88; font-weight: bold; cursor: pointer" })
                </div>
                <div class="col-sm-12" id="@idupdate">

                </div>
            </div>
        </li>
    }
</ol>

<script>
    function AddAttr() {
        $('#openMainTaskModal').attr('data-toggle', 'modal');
    }
    function ShowModal() {
        $('#taskdetail').modal('show');
    }
</script>