@model iVolunteer.Models.ViewModel.ReportModel
@*<form action="@Url.Action("ReportTarget", "Report", new { targetID = ViewBag.targetID, targetType = 3 })" id="submitReport" enctype="multipart/form-data" class="please" method="post">*@
@using (Ajax.BeginForm("ReportTarget", "Report", new { targetID = ViewBag.targetID, targetType = 3 }, new AjaxOptions { HttpMethod = "POST", OnComplete = "Complete" }, new { @id = "formValidation", @class = "register-form", @style = "margin-top: 10px" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="btn-group-vertical pull-left">
                    <div class="radio">
                        @Html.RadioButtonFor(model => model.Reason, "Thành viên giả mạo", new { @id = "rs1" })
                        <label for="rs1" style="padding-left: 0">
                            Thành viên giả mạo
                        </label>
                    </div>
                    <div class="radio">
                        @Html.RadioButtonFor(model => model.Reason, "Đăng bài có nội dung xấu", new { @id = "rs2" })
                        <label for="rs2" style="padding-left: 0">
                            Đăng bài có nội dung xấu
                        </label>
                    </div>
                    <div class="radio">
                        @Html.RadioButtonFor(model => model.Reason, "Hoạt động phạm pháp", new { @id = "rs3" })
                        <label for="rs3" style="padding-left: 0">
                            Hoạt động phạm pháp
                        </label>
                    </div>
                    <div class="radio">
                        @Html.RadioButtonFor(model => model.Reason, "Lý do khác", new { @id = "rs4" })
                        <label for="rs4" style="padding-left: 0">
                            Lý do khác
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                <label for="detailReason">Thông tin bổ sung</label>
                @Html.TextAreaFor(model => model.Detail, new { @id = "detailReason", @class = "form-control", @rows = "3", @placeholder = "Lý do chi tiết...", @style = "resize: vertical; margin-bottom: 4px" })
            </div>
        </div>
    </div>
    <!-- Button -->
    <div class="pull-right">
        <input class="btn btn-success" type="submit" value="Báo cáo">
    </div>

}
<script type="text/javascript">
    function Complete(result) {
        var isError = $('span.field-validation-error', result.responseText).length > 0;

        if (isError) {
            // there was an error => we update the container of the form
            $("#dialog-div").html(result.responseText);
        } else {
            // no error => we hide validation errors and update the result container
            $("#dialog-div").html("<div style='text-align: center; padding: 10px; margin-top: 100px;'><p>Cảm ơn bạn đã góp sức xây dựng cộng đồng iVolunteer lành mạnh</p></div>");
            $("#" + '@ViewBag.targetID').html(result.responseText);
        }
    };
</script>
@*</form>*@
