
    @if (ViewBag.IsUser == true)
    {
        if (ViewBag.IsAdmin == true)
        {
            if (ViewBag.IsActivate == true)
            {
                @Ajax.ActionLink("Khóa", "DeactivateGroup", "Admin", new { groupID = ViewBag.GroupID }, new AjaxOptions { UpdateTargetId = ViewBag.GroupID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default" })
            }
            else
            {
                @Ajax.ActionLink("Kích hoạt", "ActivateGroup", "Admin", new { groupID = ViewBag.GroupID }, new AjaxOptions { UpdateTargetId = ViewBag.GroupID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default" })
            }
        }
        else
        {
            if (ViewBag.IsJoined != true)
            {
                if (ViewBag.IsRequested == true)
                {
                    @Ajax.ActionLink("Hủy yêu cầu", "CancelJoinGroupRequest", "Account", new { groupID = ViewBag.GroupID }, new AjaxOptions { UpdateTargetId = ViewBag.GroupID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default" })
                }
                else
                {
                    @Ajax.ActionLink("Tham gia", "JoinGroupRequest", "Account", new { groupID = ViewBag.GroupID }, new AjaxOptions { UpdateTargetId = ViewBag.GroupID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default" })
                }

                if (ViewBag.IsFollowing == true)
                {
                    @Ajax.ActionLink("Hủy theo dõi", "UnfollowGroup", "Account", new { groupID = ViewBag.GroupID }, new AjaxOptions { UpdateTargetId = ViewBag.GroupID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default" })
                }
                else
                {
                    @Ajax.ActionLink("Theo dõi", "FollowGroup", "Account", new { groupID = ViewBag.GroupID }, new AjaxOptions { UpdateTargetId = ViewBag.GroupID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default" })
                }
            }
            else
            {
                @Ajax.ActionLink("Rời nhóm", "GroupResign", "Account", new { groupID = ViewBag.GroupID }, new AjaxOptions { UpdateTargetId = ViewBag.GroupID, InsertionMode = InsertionMode.Replace, Confirm = "Bạn chăc chắn muốn rời nhóm này ? " }, new { @type = "button", @class = "btn btn-default" })
            }

            if (ViewBag.IsReported == true)
            {
                @Ajax.ActionLink("Hủy báo cáo", "CancelReport", "Report", new { targetID = ViewBag.GroupID, targetType = 1 }, new AjaxOptions { UpdateTargetId = ViewBag.GroupID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default" })
            }
            else
            {
                <button class="btn btn-default" id="displayReport" href="@Url.Action("DisplayReport","Report", new { targetID = ViewBag.GroupID, targetType = 1})">Báo cáo vi phạm</button>
                @*@Ajax.ActionLink("Báo cáo vi phạm", "ReportTarget", "Report", new { targetID = ViewBag.GroupID, targetType = 1 }, new AjaxOptions { UpdateTargetId = ViewBag.GroupID, InsertionMode = InsertionMode.Replace }, new { @type = "button", @class = "btn btn-default" })*@
            }
        }
    }
