@model iVolunteer.Models.ViewModel.ChangePasswordModel
<div class="modal-body">
    <div class="row">

        <!-- Login -->
        <div class="col-md-12">
            <div class="row">
                <div class="row" style="margin: -10px 0 -5px 0;">
                    <div class="col-sm-12">
                        <h4>Thay đổi mật khẩu</h4>
                    </div>
                </div>
            </div>
            <div class="divider-holizon"></div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    @using (Ajax.BeginForm("ChangePassword", "Account", null, new AjaxOptions { UpdateTargetId = "popup-content", InsertionMode = InsertionMode.Replace }, new { @id = "formValidation", @class = "register-form", @style = "margin-top: 30px" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu cũ ..." } })
                                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu mới ..." } })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Xác nhận mật khẩu mới ..." } })
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-4 text-input" style="text-align: center; margin-top: 10px">
                                    <label style="color:red;">@ViewBag.Message</label>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 60px">
                                <div class="col-xs-2 col-xs-offset-7 text-input">
                                    <a class="close" data-dismiss="modal" style="padding: 12px 20px 0 0; font-size: 14px;color: #333;background-color: #fff; border-color: #ccc; opacity: .8">HỦY</a>
                                </div>
                                <div class="col-xs-2 text-input">
                                    <button type="submit" class="btn btn-register">XÁC NHẬN</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>