@model IEnumerable<iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.PostInformation>
<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Kết quả</h4>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LikeCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FollowCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentCount)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LikeCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FollowCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CommentCount)
                </td>
                <td>
                    @{ Html.RenderAction("ActionToPost", "Post", new { post = item.PostID });}
                </td>
            </tr>
                        }
    </table>
</div>

