
<div class="card-panel">
    <div class="row" style="text-align: center;">
        <div class="col-sm-12">
            <object type="image/svg+xml" data="images/avatar.svg" width="80" height="80" border="1"></object>
        </div>
        <div class="col-sm-12">
            <p style="color: #049f88; font-weight: bold">Võ Tôn Phúc</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3" style="text-align: center; color: #049f88">
            <i class="material-icons" data-toggle="tooltip" title="Projects">assignment</i>
            <p style="text-align: center; font-weight: bold">4</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3" style="text-align: center; color: #049f88">
            <i class="material-icons" data-toggle="tooltip" title="Groups">group</i>
            <p style="text-align: center; font-weight: bold">5</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3" style="text-align: center; color: #049f88">
            <i class="material-icons" data-toggle="tooltip" title="Posts">web_asset</i>
            <p style="text-align: center; font-weight: bold">125</p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3" style="text-align: center; color: #049f88">
            <i class="material-icons" data-toggle="tooltip" title="Friends">person</i>
            <p style="text-align: center; font-weight: bold">95</p>
        </div>
    </div>
</div>
<!-- Slide Bar Project -->
<div class="card-panel">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Dự Án</h4>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Project -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            @Html.ActionLink("Danh sách các nhóm tình nguyện", "ListGroup", "Admin", new { skip = 0, number = 5 }, null)
            <ul class="list-navi">
                <li><a href="">Áo ấm Hà Giang</a></li>
                <li><a href="">Thu gom vỏ chai</a></li>
                <li><a href="">Tiếng Anh Tân Xã</a></li>
            </ul>
        </div>
    </div>
    <!-- Add New Project -->
    <div class="row" style="text-align: right">
        <button class="btn btn-addnew" style="margin: 10px 15px 0px 10px;" onclick="location.href='@Url.Action("CreateProject","Project")'">
            <i class="material-icons">Lập Nhóm</i>
        </button>
    </div>
</div>
<!-- Slide Bar Group -->
<div class="card-panel">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Nhóm</h4>
        </div>
    </div>
    <div class="divider-holizon"></div>
    <!-- List Project -->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            @Html.ActionLink("Danh sách các nhóm tình nguyện", "ListGroup", "Admin", new { skip = 0, number = 5 }, null)
            <ul class="list-navi">
                <li><a href="">Tôi Tình Nguyện</a></li>
                <li><a href="">Quỹ Vỏ Chai</a></li>
                <li><a href="">iGo</a></li>
            </ul>
        </div>
    </div>
    <!-- Add New Project -->
    <div class="row" style="text-align: right">
        <button class="btn btn-addnew" style="margin: 10px 15px 0px 10px;" onclick="location.href='@Url.Action("CreateGroup","Group")'">
            <i class="material-icons">add</i>
        </button>
    </div>
</div>


@*<div>

    </div>
    <div>

    </div>
    <div>
       
    </div>
    <div>
        @Html.ActionLink("Danh sách các dự án tình nguyện", "CreateProject", "Project", new { skip = 0, number = 5 },null)
    </div>
    <div>
        @ViewBag.Message
    </div>*@


