@model List<iVolunteer.Models.MongoDB.EmbeddedClass.ItemClass.SubTask>

@if (Model.Count != 0)
{
    foreach (var item in Model)
    {
        string taskviewid = "subtask" + item.SubTaskID;
        string statusviewid = "status" + item.SubTaskID;
        <li>
            <div>
            <div class="row">
                <div class="col-sm-12">
                    @if (item.Priolity == 1)
                    {
                        <div class="priolity low"></div>
                    }
                    else if (item.Priolity == 2)
                    {
                        <div class="priolity medium"></div>
                    }
                    else
                    {
                        <div class="priolity high"></div>
                    }
                </div>
                <div class="col-sm-12">
                    <div class="checkbox">
                        <input id="@taskviewid" type="checkbox">
                        <label for="@taskviewid">
                            @item.Content
                        </label>
                    </div>
                    @*<label style="font-weight: normal">@item.Content</label>*@
                </div>
                <div class="col-sm-12">
                    <ul class="list-task-infor">
                        <li>
                            @if (item.IsDone == 1)
                            {
                                <span id="@statusviewid" class="badge is-unread-notification">ĐANG CHỜ</span>
                            }
                            else if (item.IsDone == 2)
                            {
                                <span id="@statusviewid" class="badge is-due-past">ĐANG THỰC HIỆN</span>
                            }
                            else if (item.IsDone == 3)
                            {
                                <span id="@statusviewid" class="badge is-complete">ĐÃ HOÀN THÀNH</span>
                            }
                            else
                            {
                                <span id="@statusviewid" class="badge is-due-past">THỰC HIỆN LẠI</span>
                            }
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    @{
                                        string newstatusviewid = "#" + statusviewid;
                                        string selectnewstatus = "select" + statusviewid;
                                        string newselectnewstatus = "#" + selectnewstatus;
                                    }

                                    //when hover task status
                                    $('@newstatusviewid').hover(function () {
                                        console.log("pass status");
                                        var replaceSelect = "<select id=\"@selectnewstatus\">";
                                        replaceSelect +="<option value=\"1\">ĐANG CHỜ</option>";
                                        replaceSelect +="<option value=\"2\">ĐANG THỰC HIỆN</option>";
                                        replaceSelect +="<option value=\"3\">ĐÃ HOÀN THÀNH</option>";
                                        replaceSelect +="<option value=\"4\">THỰC HIỆN LẠI</option>";
                                        replaceSelect +="</select>"
                                        $('@newstatusviewid').replaceWith(""+replaceSelect);
                                    });

                                    $('@newselectnewstatus').on('change', function(){
                                        console.log("on change select");
                                    });

                                    //when mouse leave task status
                                    $('@newselectnewstatus').mouseleave(function () {
                                        console.log("pass live status");
                                        var replaceSelect = "";
                                        if (@item.IsDone == 1)
                                        {
                                            replaceSelect = "<span id=\"@statusviewid\" class=\"badge is-unread-notification\">ĐANG CHỜ</span>";
                                        }
                                        else if (@item.IsDone == 2)
                                        {
                                            replaceSelect = "<span id=\"@statusviewid\" class=\"badge is-due-past\">ĐANG THỰC HIỆN</span>";
                                        }
                                        else if (@item.IsDone == 3)
                                        {
                                            replaceSelect = "<span id=\"@statusviewid\" class=\"badge is-complete\">ĐÃ HOÀN THÀNH</span>";
                                        }
                                        else
                                        {
                                            replaceSelect = "<span id=\"@statusviewid\" class=\"badge is-due-past\">THỰC HIỆN LẠI</span>";
                                        }
                                        $('@selectnewstatus').replaceWith("" + replaceSelect);
                                    });
                                });
                            </script>
                        </li>
                        <li>
                            <i class="material-icons md-18 md-myred">access_time</i>
                            <span class="overdue">@item.Deadline</span>
                        </li>
                        <li>
                            <i class="material-icons md-18 md-mygray">perm_identity</i>
                            <span class="assign-people">@item.AssignPeople.DisplayName</span>
                        </li>
                    </ul>
                </div>

            </div>
            @if (ViewBag.UserRole == "1")
            {
                <div class="delete-sub-task">
                    @Ajax.ActionLink("delete", "DeleteSubTask", "Plan", new { planPhaseID = ViewBag.PlanPhaseID, userRole = ViewBag.UserRole, mainTaskID = ViewBag.MainTaskID, subTaskID = item.SubTaskID }, 
                                                                        new AjaxOptions { UpdateTargetId = "subtaskList", InsertionMode = InsertionMode.Replace }, 
                                                                        new { @class = "material-icons md-20", @style = "text-decoration: none; color: #049f88; font-weight: bold; cursor: pointer; padding-left: 8px" })
                </div>
            }
            </div>
        </li>
    }
}
else
{

}
@if (ViewBag.UserRole == "1")
            {
                string idupdate = "addSubTaskForm" + ViewBag.MainTaskID;
    <li>
        <div class="row">
            <div class="col-sm-12">
                <!--<label style="font-weight: bold; color: #049f88;">THÊM CÔNG VIỆC ...</label>-->
                @Ajax.ActionLink("THÊM MỤC ...", "AddSubTask", "Plan", new { planPhaseID = ViewBag.PlanPhaseID, userRole = ViewBag.UserRole, mainTaskID = ViewBag.MainTaskID }, new AjaxOptions { UpdateTargetId = "addSubTaskForm", InsertionMode = InsertionMode.Replace }, new { @style = "color: #049f88; font-weight: bold; cursor: pointer" })
            </div>
            <div class="col-sm-12" id="addSubTaskForm">

            </div>
        </div>
    </li>
}
