@model iVolunteer.Models.Data_Definition_Class.MongoDB.EmbeddedClass.InformationClass.GroupInformation

<div>
    @Html.HiddenFor(model => model.GroupID)
    <h4>GroupInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.GroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvtImgLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvtImgLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverImgLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverImgLink)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActivate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActivate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
