@model iVolunteer.Models.ViewModel.SearchModel

@{ 
    ViewBag.Title = "Tìm kiếm";
}
@using (Html.BeginForm("Search","Home",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SearchModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @id = "name", @name = "name", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @{ Html.RenderAction("GroupSearch", "Group", new { name = Model.Name});
    }
    @{ Html.RenderAction("UserSearch", "User", new { name = Model.Name});
    }
</div>
