
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Images/Default/logo_lite.png" type="image/x-icon" sizes="16x16"> 
    <link href="/Content/jQuery.FileUpload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="/Content/jQuery.FileUpload/css/jquery.fileupload-ui.css" rel="stylesheet" />
    <link href="/Content/blueimp-gallery2/css/blueimp-gallery.css" rel="stylesheet" />
    <link href="/Content/blueimp-gallery2/css/blueimp-gallery-indicator.css" rel="stylesheet" />
    <link href="~/Content/justifiedGallery.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-family.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top background-container" style="background-color: #049f88">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" title="Trang chủ" id="logo" href="@Url.Action("FrontPage", "Home")" style="padding: 2px 20px"><img src="~/Images/Default/logo.png" alt="iVolunteer" height="45"></a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">

                <!-- Navbar Right -->
                <ul class="nav navbar-nav navbar-right">
                    <li style="padding-right: 15px;">
                        <div class="search-dropdown navbar-form">
                            <input type="text" class="txt-search" id="searchArea" name="name" autocomplete="off" placeholder="Tìm kiếm...">
                            <i class="material-icons md-20" style="color: #fff">search</i>
                            <ul class="dropdown-content" id="listSearchBar">
                                <li role="Group" class="searchItem" onclick="search(this)">Tìm nhóm <span class="searchKey" id="srchGrVal"></span></li>
                                <li role="Project" class="searchItem" onclick="search(this)">Tìm dự án <span class="searchKey" id="srchPrVal"></span></li>
                                <li role="User" class="searchItem" onclick="search(this)">Tìm thành viên <span class="searchKey" id="srchUsVal"></span></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group navbar-btn">
                            @Ajax.ActionLink("Đăng nhập hoặc đăng ký", "Login", "Home", null, new AjaxOptions { UpdateTargetId = "popup-content", InsertionMode = InsertionMode.Replace, OnBegin = "OnBeginPopup('#popup-content','#popup')" }, new { @class = "btn btn-transparent" })
                        </div>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div  class="modal fade" role="dialog" id="popup">
       <div class="modal-dialog modal-lg modal-md">
        <div class="modal-content" id="popup-content">
                
        </div>
       </div>
    </div>
    <!-------------Body Container------------>
      <div class="container background-container">
           @RenderBody()
          <button class="fix-button-home-green" onclick="location.href='@Url.Action("FeedBack", "Home")'"><i class="material-icons md-24">feedback</i><span>Đánh giá</span></button>
     </div>
    @* --------------SCRIPT SECTION--------- *@
    <script>
        $('#popup').on('toggle', function () {
            $('#popup-content').empty();
        })
    </script>
    
    <!--SCRIPT ALBUM-->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/scripts/moment.min.js"></script>
    <script src="~/scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/scripts/jquery.justifiedGallery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/scripts/iVolunteer-1.0.js"></script>

    <!-- Image Support Script -->
    <script src="/scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
    <script src="/scripts/blueimp-gallery2/js/blueimp-gallery.js"></script>
    <script src="/scripts/blueimp-gallery2/js/jquery.blueimp-gallery.js"></script>
    <script src="~/scripts/blueimp-gallery2/js/blueimp-gallery-indicator.min.js"></script>

    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
    <link rel="stylesheet" href="~/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
</body>
</html>