@model iVolunteer.Models.MongoDB.EmbeddedClass.ItemClass.TeamFoundDonator

@using (Ajax.BeginForm("AddTeamFoundDonator", "Budget", new { fundID = ViewBag.FundID, isLeader = ViewBag.IsLeader }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabplanbudget" }, new { @id = "formValidation", @class = "register-form", @style = "margin-top: 10px" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Information, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Information, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Information, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReceiveDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReceiveDate, new { htmlAttributes = new { @class = "form-control", @type = "date"} })
                @Html.ValidationMessageFor(model => model.ReceiveDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Method, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Method, new SelectListItem[] {
                                                                    new SelectListItem() {Text = "TIỀN MẶT", Value = "1" },
                                                                    new SelectListItem() {Text = "CHUYỂN KHOẢN", Value = "2" } }, 
                                                                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Method, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsReceived, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<div class="checkbox">
                    @Html.EditorFor(model => model.IsReceived)
                    @Html.ValidationMessageFor(model => model.IsReceived, "", new { @class = "text-danger" })
                </div>*@
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsReceived)
                    @Html.ValidationMessageFor(model => model.IsReceived, "", new { @class = "text-danger" })
                    @Html.LabelFor(model => model.IsReceived)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
