@model iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.UserInformation

<div class="card-panel" style="margin: 0.5rem 0 1rem 0;">
    <div class="row" style="margin-top: -18px; margin-bottom: -5px;">
        <div class="col-sm-12">
            <h4>Thông tin về người dùng</h4>
            @if(ViewBag.IsMyHome == true)
            {
                @Ajax.ActionLink("Thay đổi", "ChangeInformation", "Account", new AjaxOptions { UpdateTargetId = "user-tab", InsertionMode = InsertionMode.Replace });
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <!-- Thông tin cá nhân -->
                <div class="col-sm-5">
                    <div class="row" style="text-align: center">
                        <div class="col-xs-12">
                            <h4>Thông tin cá nhân</h4>
                            <div class="divider-holizon"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table-user-info" style="width: 100%">
                                <colgroup>
                                    <col width="15%">
                                    <col width="70%">
                                    <col width="15%">
                                </colgroup>
                                <tr>
                                    <td style="text-align: center">
                                        <object type="image/svg+xml" data="~/images/icons/id-card.svg" width="20" height="20"></object>
                                    </td>
                                    <td>
                                        <label style="font-weight: normal" id="namedisplay">@Html.DisplayFor(model => model.RealName)</label>
                                        <input type="text" placeholder="Võ Tôn Phúc" class="form-control" style="display: none" id="txtname">
                                    </td>
                                    <td>
                                        <button id="editname" class="btn btn-image" type="submit"><i class="material-icons md-20 md-mygreen">edit</i></button>
                                        <button id="savename" class="btn btn-image" type="submit" style="display: none"><i class="material-icons md-20 md-mygreen">save</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">
                                        <object type="image/svg+xml" data="~/images/icons/gender.svg" width="20" height="20"></object>
                                    </td>
                                    <td>
                                        @if (Model.Gender)
                                        {
                                            <p>Nam</p>
                                        }
                                        else
                                        {
                                            <p>Nữ</p>
                                        }
                                    </td>
                                    <td>
                                        <button id="editname" class="btn btn-image" type="submit"><i class="material-icons md-20 md-mygreen">edit</i></button>
                                        <button id="savename" class="btn btn-image" type="submit" style="display: none"><i class="material-icons md-20 md-mygreen">save</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">
                                        <object type="image/svg+xml" data="~/images/icons/birthday.svg" width="20" height="20"></object>
                                    </td>
                                    <td>@Html.DisplayFor(model => model.Birthday)</td>
                                    <td>
                                        <button id="editname" class="btn btn-image" type="submit"><i class="material-icons md-20 md-mygreen">edit</i></button>
                                        <button id="savename" class="btn btn-image" type="submit" style="display: none"><i class="material-icons md-20 md-mygreen">save</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">
                                        <object type="image/svg+xml" data="~/images/icons/identifyID.svg" width="20" height="20"></object>
                                    </td>
                                    <td>@Html.DisplayFor(model => model.IdentifyID)</td>
                                    <td>
                                        <button id="editname" class="btn btn-image" type="submit"><i class="material-icons md-20 md-mygreen">edit</i></button>
                                        <button id="savename" class="btn btn-image" type="submit" style="display: none"><i class="material-icons md-20 md-mygreen">save</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">
                                        <object type="image/svg+xml" data="~/images/icons/house.svg" width="20" height="20"></object>
                                    </td>
                                    <td>@Html.DisplayFor(model => model.Address)</td>
                                    <td>
                                        <button id="editname" class="btn btn-image" type="submit"><i class="material-icons md-20 md-mygreen">edit</i></button>
                                        <button id="savename" class="btn btn-image" type="submit" style="display: none"><i class="material-icons md-20 md-mygreen">save</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">
                                        <object type="image/svg+xml" data="~/images/icons/mail.svg" width="20" height="20"></object>
                                    </td>
                                    <td>@Html.DisplayFor(model => model.Email)</td>
                                    <td>
                                        <button id="editname" class="btn btn-image" type="submit"><i class="material-icons md-20 md-mygreen">edit</i></button>
                                        <button id="savename" class="btn btn-image" type="submit" style="display: none"><i class="material-icons md-20 md-mygreen">save</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">
                                        <object type="image/svg+xml" data="~/images/icons/phone-call.svg" width="20" height="20"></object>
                                    </td>
                                    <td>@Html.DisplayFor(model => model.Phone)</td>
                                    <td>
                                        <button id="editname" class="btn btn-image" type="submit"><i class="material-icons md-20 md-mygreen">edit</i></button>
                                        <button id="savename" class="btn btn-image" type="submit" style="display: none"><i class="material-icons md-20 md-mygreen">save</i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Thông tin tình nguyện -->
                <div class="col-sm-7">
                    <div class="row" style="text-align: center">
                        <div class="col-xs-12">
                            <h4>Thông tin tình nguyện</h4>
                            <div class="divider-holizon"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table-user-volunteer-info">
                                <colgroup>
                                    <col width="25%">
                                    <col width="65%">
                                    <col width="10%">
                                </colgroup>
                                <tr>
                                    <td style="color: #049f88">LĨNH VỰC QUAN TÂM</td>
                                    <td>
                                        Động vật
                                        <br> Trẻ em
                                        <br> Giáo dục
                                    </td>
                                    <td>
                                        <button class="btn btn-image" type="submit"><i class="material-icons md-20 md-mygreen">edit</i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: #049f88">KĨ NĂNG &amp; KINH NGHIỆM</td>
                                    <td style="text-align: justify">
                                        Tình nguyện về cơ bản là cống hiến thời gian, sức lực và kĩ năng mà không đòi hỏi lợi ích cá nhân. Khác với nhiều thứ trong cuộc sống, sự lựa chọn tồn tại trong công việc tình nguyện. Là một tình nguyện viên, bạn quyết định đóng góp theo cách riêng của mình mà không phải chịu áp lực hành động từ người khác.
                                    </td>
                                    <td>
                                        <button class="btn btn-image" type="submit"><i class="material-icons md-20 md-mygreen">edit</i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RealName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentifyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentifyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @if (Model.Gender)
            {
                <p>Nam</p>
            }
            else
            {
                <p>Nữ</p>
            }

        </dd>
    </dl>*@
</div>
@{ Html.RenderAction("CurrentProjects", "User", new { userID = Model.UserID });
}
