@model IEnumerable<iVolunteer.Models.MongoDB.EmbeddedClass.InformationClass.AccountInformation>

<!-- Admin -->
    <div class="row">
        <div class="col-md-12">
            <div class="sub-container">

                <!-- Header -->
                <div class="row">
                    <div class="col-sm-6">
                        <h4>@Model.Count() trưởng nhóm</h4>
                    </div>

                    <div class="col-sm-12">
                        <div class="divider-holizon"></div>
                    </div>
                </div>

                <!-- Content -->
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div id="@item.UserID">
                            <!-- Admin -->
                            <div class="col-sm-6 col-xs-12" style="margin-top: 5px; margin-bottom: 5px">
                                <div class="member-container">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img src="@item.Get_AvatarLink()" height="70" width="70">
                                        </div>

                                        @if (item.IsActivate)
                                        {
                                            <div class="col-xs-5">
                                                <div class="row">
                                                    <label class="member-name">
                                                        <a href="@Url.Action("UserHome", "User", new { userID = item.UserID })">@Html.DisplayFor(modelItem => item.DisplayName)</a>
                                                    </label>
                                                </div>
                                                <div class="row" style="margin-top: -7px">
                                                    <label class="member-sumerise">
                                                        @Html.DisplayFor(modelItem => item.Address)
                                                    </label>
                                                </div>
                                                <div class="row" style="margin-top: -7px">
                                                    <label style="font-weight: normal">@Html.DisplayFor(modelItem => item.FriendCount) bạn @{Html.RenderAction("MutalFriends", "Account", new { otherID = item.UserID }); }</label>
                                                </div>
                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-xs-5">
                                                                <div class="row">
                                                                    <label class="member-name">
                                                                        @Html.DisplayFor(modelItem => item.DisplayName)
                                                                    </label>
                                                                </div>
                                                                <div class="row" style="margin-top: -7px">
                                                                    <label class="member-sumerise">
                                                                    </label>
                                                                </div>
                                                                <div class="row" style="margin-top: -7px">
                                                                </div>
                                                            </div>
                                                        }
                                        @if (ViewBag.IsLeader == true && Session["UserID"].ToString() != item.UserID)
                                        {
                                            <div class="divider-vertical-member"></div>

                                            <div class="col-xs-4">
                                                <div class="row" style="text-align: center">
                                                    <label class="member-position" style="font-size: 14px">

                                                    </label>
                                                </div>
                                                <div class="row" style="margin-top: -7px; text-align: center">
                                                    <label class="member-department">
                                                        @Ajax.ActionLink("Giáng chức", "SetMember", "Group", new { leaderID = item.UserID, groupID = ViewBag.GroupID }, new AjaxOptions { UpdateTargetId = item.UserID, InsertionMode = InsertionMode.Replace, Confirm = "Bạn chắc chắn muốn giáng chức người này làm thành viên ?" })
                                                    </label>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                                                        }

                </div>
            </div>
        </div>
    </div>
